/*.b-pop*/
.b-pop {
    display: none; position: fixed;
}

.b-pop-page {
    background: white; padding: 10px; position: fixed;
    box-sizing: border-box; min-width: 300px;
}

.b-pop-btn-wrap {text-align: center;}

/*.b-pop-single*/
.b-pop-single {position: fixed; left: 0; top: 0; width: 100%; height: 100%;
    background: rgba(0,0,0,0.2);
}

.b-pop-single .b-pop-page {
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}

/*.b-pop-style*/
.b-pop-page {
    box-shadow: 0 0 2px 2px rgba(200,200,200, 0.2);
    border-radius: 4px
}

.b-img-wrap {position: relative; display: inline-flex;
    align-items: center; justify-content: center;
    background: #eee;
    border-radius: 5rem;
    overflow: hidden;
}

.b-img {position: absolute;
    left: 0; right: 0; top: 0; bottom: 0; margin: auto;
    max-width: 100%; max-height: 100%;
    border-radius: 5rem;
}
.b-img-div {width: 100%; height: 100%;
    background: center / cover;
}

.b-img-cover {width: 100%; height: 100%;
    left: 0; top: 0; position: absolute;
    background: rgba(0,0,0, .3);
}