<style>
	.b-ani-loop {animation-iteration-count: infinite;}
	
    .b-ani-300ms {animation-duration: 300ms;}
    .b-ani-600ms {animation-duration: 600ms;}
    .b-ani-900ms {animation-duration: 600ms;}
    .b-ani-1200ms {animation-duration: 1200ms;}

    .b-ani-down-up {animation-name: b-ani-down-up; position: absolute;}
    @keyframes b-ani-down-up {0% {top:25px;} 50% {top:30px;} 100% {top:25px;}}


    .a {  position: absolute;}
</style>



<div class="a b-ani-down-up  b-ani-loop b-ani-1200ms">
	sadf
</div>

