<?php
$item = '
	<span class="b_inline"><i class="b_sprite sprite_fav sprite_fav_rose"></i> <span>가나다</span></span>
	<span class="b_inline"><i class="b_sprite sprite_fav sprite_fav_magic"></i> <span>가나다</span></span>
	<span class="b_inline"><i class="b_sprite sprite_fav sprite_fav_quiz"></i> <span>가나다</span></span>
';
?>
<div class="b_mg_c_v__20px">
	<div class="b_block" style="font-size: 40px;">
		<?=$item?>
	</div>
	
	<div class="b_block" style="font-size: 30px;">
		<?=$item?>
	</div>
	
	<div class="b_block" style="font-size: 20px;">
		<?=$item?>		
	</div>
	
	<div class="b_block">
		<?=$item?>
	</div>

	<div class="b_block" style="font-size: 14px;">
		<?=$item?>
	</div>

	<div class="b_block" style="font-size: 12px;">
		<?=$item?>
	</div>
	
	<h2 class="one_class">Used img</h2>
	<img src="/-/img/sprite/sprite.png" alt="" style="border: solid 1px #ddd;">
</div>