/*font-size 16px이하에서는 많이 깨져보임.*/
@font-face {
 font-family: 'nanum-s-r';
 font-weight: 400;
 src: url(NanumSquareR.eot);
 src: url(NanumSquareR.eot?#iefix) format('embedded-opentype'),
      url(NanumSquareR.woff) format('woff'),
      url(NanumSquareR.ttf) format('truetype');
}
@font-face {
 font-family: 'nanum-s-b';
 font-weight: 700;
 src: url(NanumSquareB.eot);
 src: url(NanumSquareB.eot?#iefix) format('embedded-opentype'),
      url(NanumSquareB.woff) format('woff'),
      url(NanumSquareB.ttf) format('truetype');
}
@font-face {
 font-family: 'nanum-s-eb';
 font-weight: 800;
 src: url(NanumSquareEB.eot);
 src: url(NanumSquareEB.eot?#iefix) format('embedded-opentype'),
      url(NanumSquareEB.woff) format('woff'),
      url(NanumSquareEB.ttf) format('truetype');
}
@font-face {
 font-family: 'nanum-s-l';
 font-weight: 300;
 src: url(NanumSquareL.eot);
 src: url(NanumSquareL.eot?#iefix) format('embedded-opentype'),
      url(NanumSquareL.woff) format('woff'),
      url(NanumSquareL.ttf) format('truetype');
}

.nanum-s-r { font-family: 'nanum-s-r';}
.nanum-s-b { font-family: 'nanum-s-b';}
.nanum-s-eb { font-family: 'nanum-s-eb';}
.nanum-s-l { font-family: 'nanum-s-l';}