<?php
$pop_cont = "내용이다<br>내용이다<br>내용이다<br>내용이다<br>내용이다<br>내용이다<br>내용이다<br>내용이다<br>내용이다<br>내용이다<br>내용이다<br>내용이다<br>내용이다<br>내용이다<br>내용이다<br> 내용이다 내용이다<br>내용이다 <p>내용이다</p> 내용이다<br> 내용이다<br> 내용이다<br> 내용이다<br> 내용이다<br> 내용이다<br> 내용이다<br> 내용이다<br> 내용이다 내용이다 내용이다 내용이다";
?>
<div class="b_btn_w b_cont">
	<div>
		<button id="confirm" type="button">Confirm</button>
		<script class="on">
			$('#confirm').on('click', function () {
				$b.pop.confirm(
					function () {
						$b.pop.alert('callback');
					},
					'<?=$pop_cont?>',
					'확인사항'
				);
			});
		</script>
	</div>
	<div>
		<button id="confirm_no_tit" type="button">Confirm no tit</button>
		<script class="on">
			$('#confirm_no_tit').on('click', function () {
				$b.pop.confirm(
					function () {
						$b.pop.alert('callback');
					},
					'<?=$pop_cont?>'
				);
			});
		</script>
	</div>
</div>