<div class="b_bt_w">
	<button onclick="$b.pop.open('#pop_kkk');" type="button">Layer Popup</button>
</div>

<section class="b_pop" id="pop_1">
	<div class="b_pop_page">
		<img src="/comm_res/img/ex/hori-img.jpg" alt="" class="b_w_100pc">
		<div class="ta_c b_bt_w b_bt_w_s b_m_h_c_4px">
			<button onclick="$b.pop.notToday(this);" type="button">오늘하루 열지않기</button>
			<button onclick="$b.pop.close(this);" type="button">닫기</button>
		</div>
	</div>
</section>

<section class="b_pop" id="pop_2" data-b_pop='{
"width": "auto", "height": "auto",
}'>
	<div class="b_pop_page">
		<img src="/comm_res/img/ex/hori-img.jpg" alt="" class="b_w_100pc">
		<div class="ta_c b_bt_w b_bt_w_s b_bt_w_s b_m_h_c_4px">
			<button onclick="$b.pop.notToday(this);" type="button">오늘하루 열지않기</button>
			<button onclick="$b.pop.close(this);" type="button">닫기</button>
		</div>
	</div>
</section>

<script>
	$(document).ready(function () {
		$b.pop.openPopsOnLoad();
	});
</script>