<section class="b_pop" id="pop_1" data-b_pop='{
	"width": "auto"
	, "left": 100, "top": 100
	, "position": 100
}'>
	<div class="b_pop_page b_draggable">
		<img src="/comm_res/img/ex/hori-img.jpg" alt="" class="b_w_100pc">
		<div class="ta_c b_btn_w b_btn_w_s b_mh_c_4px">
			<button onclick="$b.pop.notToday(this);" type="button">오늘하루 열지않기</button>
			<button onclick="$b.pop.close(this);" type="button">닫기</button>
		</div>
	</div>
</section>

<section class="b_pop b_draggable" id="pop_2" data-b_pop='{
	"width": "auto"
	, "left": 600, "top": 100
	, "position": 100
}'>
	<div class="b_pop_page b_draggable">
		<img src="/comm_res/img/ex/hori-img.jpg" alt="" class="b_w_100pc">
		<div class="ta_c b_btn_w b_btn_w_s b_btn_w_s b_mh_c_4px">
			<button onclick="$b.pop.notToday(this);" type="button">오늘하루 열지않기</button>
			<button onclick="$b.pop.close(this);" type="button">닫기</button>
		</div>
	</div>
</section>

<script class="on">
	$(document).ready(function () {
		$b.pop.openOnLoad();
	});
</script>