<div class="b_cont">
	<h2>With Title</h2>
	<div class="b_m_h_c_4px b_bt_w">
		<button onclick="$b.pop.open('#pop_alert');" type="button">Alert</button>
		<button onclick="$b.pop.open('#pop_confirm');" type="button">Confirm</button>
		<button onclick="$b.pop.open('#pop_pop');" type="button">Pop</button>
	</div>

	<h2>No Title</h2>
	<div class="b_m_h_c_4px b_bt_w">
		<button onclick="$b.pop.open('#pop_alert_no_tit');" type="button">Alert</button>
		<button onclick="$b.pop.open('#pop_confirm_no_tit');" type="button">Confirm</button>
		<button onclick="$b.pop.open('#pop_pop_no_tit');" type="button">Pop</button>
	</div>
</div>

<section class="b_pop" id="pop_alert">
	<div class="b_pop_page">
		<header class="b_pop_head">알림</header>
		<div class="b_pop_body">
			<div>
				가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ
			</div>
			<div>
				가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ
			</div>
			<div class="b_bt_w b_m_h_c_4px">
				<button class="b_bt_ok" onclick="$b.pop.close(this);" type="button">확인</button>
			</div>
		</div>
	</div>
</section>
<section class="b_pop" id="pop_confirm">
	<div class="b_pop_page">
		<header class="b_pop_head">확인 사항</header>
		<div class="b_pop_body">
			<div>
				가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ
			</div>
			<div>
				가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ
			</div>
			<div class="b_bt_w b_m_h_c_4px">
				<button class="b_bt_ok" onclick="$b.pop.close(this);" type="button">확인</button>
				<button class="b_bt_cancel" onclick="$b.pop.close(this);" type="button">취소</button>
			</div>
		</div>
	</div>
</section>
<section class="b_pop" id="pop_pop">
	<div class="b_pop_page">
		<header class="b_pop_head">제목 입니다.</header>
		<div class="b_pop_body">
			<div>
				가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ
			</div>
			<div>
				가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ
			</div>
			<div class="b_bt_w b_m_h_c_4px">
				<button class="b_bt_ok" onclick="$b.pop.close(this);" type="button">확인</button>
				<button class="b_bt_cancel" onclick="$b.pop.close(this);" type="button">취소</button>
			</div>
		</div>
	</div>
</section>

<section class="b_pop" id="pop_alert_no_tit">
	<div class="b_pop_page">
		<!--<header class="b_pop_head">제목 입니다.</header>-->
		<div class="b_pop_body">
			<div>
				가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ
			</div>
			<div>
				가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ
			</div>
			<div class="b_bt_w b_m_h_c_4px">
				<button class="b_bt_ok" onclick="$b.pop.close(this);" type="button">확인</button>
			</div>
		</div>
	</div>
</section>
<section class="b_pop" id="pop_confirm_no_tit">
	<div class="b_pop_page">
		<!--<header class="b_pop_head">제목 입니다.</header>-->
		<div class="b_pop_body">
			<div>
				가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ
			</div>
			<div>
				가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ
			</div>
			<div class="b_bt_w b_m_h_c_4px">
				<button class="b_bt_ok" onclick="$b.pop.close(this);" type="button">확인</button>
				<button class="b_bt_cancel" onclick="$b.pop.close(this);" type="button">취소</button>
			</div>
		</div>
	</div>
</section>
<section class="b_pop" id="pop_pop_no_tit">
	<div class="b_pop_page">
		<!--<header class="b_pop_head">제목 입니다.</header>-->
		<div class="b_pop_body">
			<div>
				가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ
			</div>
			<div>
				가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ가나다라 ㅁㄴㅇㄹ
			</div>
			<div class="b_bt_w b_m_h_c_4px">
				<button class="b_bt_ok" onclick="$b.pop.close(this);" type="button">확인</button>
				<button class="b_bt_cancel" onclick="$b.pop.close(this);" type="button">취소</button>
			</div>
		</div>
	</div>
</section>
