html {overflow-y: scroll;}

body {
	font-family: malgun gothic, arial; line-height: 1.6; word-break: keep-all; word-wrap: break-word;
	color: #333;
	margin: 0;
}

/*font*/
.font_12 { font-size: 12px;}

/*btn*/
.btn_init {
	background: white; color: #222; border: solid 1px #ccc; text-shadow: inherit;
	text-align: center; line-height: 1.6em; height: 1.8em; display: inline-block;
	padding: 0 .5em; vertical-align: middle;
	cursor: pointer;  box-sizing: border-box;
	font-size: inherit; font-family: inherit;
}
.btn_init:hover { text-decoration: none;}

/*btn_size*/
.btn_small2 { font-size: 12px; height: 20px; line-height: 18px;}
.btn_small { font-size: 14px; height: 25px; line-height: 23px;}
.btn_big { font-size: 24px; height: 35px; line-height: 31px;}
.btn_big2 { font-size: 28px; height: 50px; line-height: 46px;}

.btn_radius { border-radius: 0.3em;}
.btn_round { border-radius: 100px;}
.btn_full { width: 100%;}

.btn_width6 { width: 6em;}
.btn_width8 { width: 8em;}
.btn_width10 { width: 10em;}
.btn_width12 { width: 12em;}

/*title todo move theme*/
h1 {font-size: 2em; margin: 0.5em 0;}
h2 {font-size: 1.4em; margin: 2em 0 0.5em;}
h3 {font-size: 1.2em; margin: 2em 0 0.5em;}
h4 {font-size: 1.2em; margin: 2em 0 0.5em;}
h5 {font-size: 1.1em; margin: 2em 0 0.5em;}
h6 {font-size: 1.0em; margin: 2em 0 0.5em;}

ul {margin: 2em 0; padding: 0 0 0 1.5em;}
	li {margin: 1em 0;}

main { display: block;} /*patch IE*/

@media (max-width: 800px) {
	h1 {font-size: 1.5em;}
	h2 {font-size: 1.4em;}
	h3 {font-size: 1.3em;}
	h4 {font-size: 1.2em;}
	h5 {font-size: 1.1em;}
	h6 {font-size: 1.0em;}
}

.code {
	white-space: pre; line-height: 1.5; tab-size: 3;
	font-family:"Ubuntu Mono", Consolas, "Source Code Pro";
	background: #eee; display: block; /*border: solid 1px #ddd;*/ overflow-x: auto; box-sizing: border-box;
	margin: 1em 0;
}

.ime_active { -webkit-ime-mode: active; -moz-ime-mode: active; ime-mode: active;}
.ime_inactive { -webkit-ime-mode: inactive; -moz-ime-mode: inactive; ime-mode: inactive;}
.ime_disabled { -webkit-ime-mode: disabled; -moz-ime-mode: disabled; ime-mode: disabled;}

.vspace {margin-top: 1em; margin-bottom: 1em;}
.vspace2 {margin-top: 2em; margin-bottom: 2em;}

.align_center {text-align: center;}

.list_unstyled li { list-style: none;}

/*space*/
.space_hori_child > * { margin-left: 1em; margin-right: 1em;}
.space_verti_child > * { margin-top: 1em; margin-bottom: 1em;}

.em_init, .em_init * { font-size: 62.5%;}

.cont_hidden {position: absolute; left: -99999px;}

.clfix::after {content: ''; display: table; clear:both;}

/*.pad*/
.pad_small2 {padding: 2px 4px;}
.pad_small {padding: 4px 8px;}
.pad_normal {padding: 8px 16px;}
.pad_big {padding: 10px 20px;}
.pad_big2 {padding: 12px 24px;}

/*.brd_radius*/
.brd_radius {border-radius: .3em;}
.brd_radius_small2 {border-radius: 3px;}
.brd_radius_small {border-radius: 6px;}
.brd_radius_normal {border-radius: 9px;}
.brd_radius_big {border-radius: 12px;}
.brd_radius_big2 {border-radius: 15px;}
.brd_round {border-radius: 200px;}

/*.float*/
.fl_fix::after { content: ''; display: table; clear: both; }
.fl_left { float: left; }
.fl_right { float:right; }


/**/
.brd_left { border-left: solid 1px #ccc;}
.brd_left_child > * { border-left: solid 1px #ccc;}
/**/
.brd_right { border-right: solid 1px #ccc;}
.brd_right_child > * { border-right: solid 1px #ccc;}
/**/
.brd_btm { border-bottom: solid 1px #ccc;}
.brd_btm_child > * { border-bottom: solid 1px #ccc;}
/**/
table.brd_left_none th:first-child
, table.brd_left_none td:first-child
{ border-left: none; }
/**/
table.brd_right_none th:first-child
, table.brd_right_none td:first-child
{ border-right: none; }

.col_4_12 { width: 33.33%; }
.col_6_12 { width: 50%; }

.pad_top_child > * { padding-top: 5px;}
.pad_left_child > * { padding-left: 5px;}
.pad_right_child > * { padding-right: 5px;}
.pad_btm_child > * { padding-bottom: 5px;}

.tbl_init {width: 100%; border-collapse: collapse;}