Options FollowSymLinks Indexes

RewriteEngine On

# RedirectMatch 301 ^(.*)\.html$ $1.php
# RewriteRule ^(.*)\.html$ $1.php
#RewriteRule ^(.+)\.html$ $1.php
#RewriteRule ^(.*)\.html$ $1.php [L]
#RewriteRule ^(.*)\.html$ $1.php [QSA,L]

RewriteRule ^(.*)\.html$ $1.php


#ErrorDocument 404 /error/404

