<?
$link_play_store = '';
$link_one_store = '';
$link_app_store = '';

$link_charge = '';

$link_down = '';

$link_hack_play_store = '';
$link_hack_one_store = '';
$link_hack_app_store = '';

$link_miin_play_store = '';
$link_miin_one_store = '';
$link_miin_app_store = '';

$link_kkul_play_store = '';
$link_aj_play_store = '';

$rev_ver = 1;
?>
<!doctype html>
<html lang="ko">
<head>
	<meta charset="EUC-KR">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title></title>
	<link href="css/cm.css?<?=$res_ver?>" rel="stylesheet">
	<link href="css/pc.css?<?=$res_ver?>" rel="stylesheet" media="(min-width: 1000px)">
	<link href="css/mo.css?<?=$res_ver?>" rel="stylesheet" media="(max-width: 1000px)">
	<script src="/ext/js/jquery/jquery-1.8.3.min.js"></script>
	<script src="/ext/js/ui/res-img-map/imageMapResizer/imageMapResizer.min.js"></script>
	<script>
		$(document).ready(function () {
			$('map').imageMapResize();
		});
	</script>

	<script>
		// 2. This code loads the IFrame Player API code asynchronously.
		var tag = document.createElement('script');

		tag.src = "https://www.youtube.com/iframe_api";
		var firstScriptTag = document.getElementsByTagName('script')[0];
		firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

		// 3. This function creates an <iframe> (and YouTube player)
		//    after the API code downloads.
		var player;
		function onYouTubeIframeAPIReady() {
			player = new YT.Player('player', {
				height: '100%',
				width: '100%',
				//videoId: 'z4YyiRpoO20',
			});
		}

		function aaa () {
			player.loadVideoById('v1D2Z33CsyE');
		}
	</script>
</head>
<body>

<!--pc-->
<section class="pc">
	<div class="cont">
		<img src="../-component/img/pc_01.jpg?<?=$res_ver?>" alt="" usemap="#pc_map_1">
		<map name="pc_map_1">
			<area coords="921,603,1238,699" href="<?=$link_play_store?>" alt="플레이스토어">
			<area coords="921,721,1238,814" href="<?=$link_one_store?>" alt="원스토어">
			<area coords="922,836,1238,930" href="<?=$link_app_store?>" alt="앱스토어">
		</map>
	</div>
	<div class="cont">
		<img src="../-component/img/pc_02.jpg?<?=$res_ver?>" alt="" usemap="#pc_map_2">
		<map name="pc_map_2">
			<area coords="632,455,1270,558" href="<?=$link_charge?>" alt="충전하기">
		</map>
	</div>
	<div class="cont">
		<img src="../-component/img/pc_03.jpg?<?=$res_ver?>" alt="" usemap="#pc_map_3">
		<map name="pc_map_3">
			<area coords="629,471,1270,577" href="<?=$link_down?>" alt="앱다운">
		</map>
	</div>
	<div class="cont">
		<img src="../-component/img/pc_04.jpg?<?=$res_ver?>" alt="" usemap="#pc_map_4">
		<map name="pc_map_4">
			<area coords="632,40,1269,398" href="javascript: loadVideo('z4YyiRpoO20');" alt="설레는 만남 비디오">
			<area coords="632,615,1269,974" href="javascript: loadVideo('v1D2Z33CsyE');" alt="눈속임없는 비디오">
			<area coords="632,1188,1269,1546" href="javascript: loadVideo('nG1OwaFyHOU');" alt="영상으로 만나는 비디오">
		</map>
	</div>
	<div class="cont">
		<img src="../-component/img/pc_05.jpg?<?=$res_ver?>" alt="" usemap="#pc_map_5">
		<map name="pc_map_5">
			<area coords="648,678,935,763" href="<?=$link_hack_play_store?>" alt="핵톡 플레이">
			<area coords="650,778,935,864" href="<?=$link_hack_one_store?>" alt="핵톡 원">
			<area coords="650,879,935,961" href="<?=$link_hack_app_store?>" alt="핵톡 앱">
			<area coords="966,680,1251,762" href="<?=$link_miin_play_store?>" alt="미인톡 플레이">
			<area coords="966,778,1251,863" href="<?=$link_miin_one_store?>" alt="미인톡 원">
			<area coords="967,878,1250,960" href="<?=$link_miin_app_store?>" alt="미인톡 앱">
			<area coords="648,1458,933,1540" href="<?=$link_kkul_play_store?>" alt="꿀팅 플레이">
			<area coords="967,1455,1252,1542" href="<?=$link_aj_play_store?>" alt="애정촌 플레이">
		</map>
	</div>
</section>

<!--mo-->
<section class="mo">
	<div class="cont">
		<img src="../-component/img/mo_01.jpg?<?=$res_ver?>" alt="" usemap="#mo_map_1">
		<map name="mo_map_1">
			<area coords="301,604,618,699" href="<?=$link_play_store?>" alt="플레이스토어">
			<area coords="301,720,618,815" href="<?=$link_one_store?>" alt="원스토어">
			<area coords="302,835,619,930" href="<?=$link_app_store?>" alt="앱스토어">
		</map>
	</div>
	<div class="cont">
		<img src="../-component/img/mo_02.jpg?<?=$res_ver?>" alt="" usemap="#mo_map_2">
		<map name="mo_map_2">
			<area coords="12,458,648,559" href="<?=$link_charge?>" alt="충전하기">
		</map>
	</div>
	<div class="cont">
		<img src="../-component/img/mo_03.jpg?<?=$res_ver?>" alt="" usemap="#mo_map_3">
		<map name="mo_map_3">
			<area coords="12,822,650,924" href="<?=$link_down?>" alt="앱다운">
		</map>
	</div>
	<div class="cont">
		<img src="../-component/img/mo_04.jpg?<?=$res_ver?>" alt="" usemap="#mo_map_4">
		<map name="mo_map_4">
			<area coords="12,40,649,398" href="javascript: loadVideo('z4YyiRpoO20');" alt="설레는 만남 비디오">
			<area coords="12,615,649,974" href="javascript: loadVideo('v1D2Z33CsyE');" alt="눈속임없는 비디오">
			<area coords="12,1188,649,1546" href="javascript: loadVideo('nG1OwaFyHOU');" alt="영상으로 만나는 비디오">
		</map>
	</div>
	<div class="cont">
		<img src="../-component/img/mo_05.jpg?<?=$res_ver?>" alt="" usemap="#mo_map_5">
		<map name="mo_map_5">
			<area coords="29,679,314,763" href="<?=$link_hack_play_store?>" alt="핵톡 플레이">
			<area coords="30,779,315,862" href="<?=$link_hack_one_store?>" alt="핵톡 원">
			<area coords="30,877,313,963" href="<?=$link_hack_app_store?>" alt="핵톡 앱">
			<area coords="347,680,629,764" href="<?=$link_miin_play_store?>" alt="미인톡 플레이">
			<area coords="345,778,630,863" href="<?=$link_miin_one_store?>" alt="미인톡 원">
			<area coords="346,877,630,962" href="<?=$link_miin_app_store?>" alt="미인톡 앱">
			<area coords="29,1457,314,1543" href="<?=$link_kkul_play_store?>" alt="꿀팅 플레이">
			<area coords="344,1457,631,1540" href="<?=$link_aj_play_store?>" alt="애정촌 플레이">
		</map>
	</div>
</section>

<button onclick="loadVideo('z4YyiRpoO20');" type="button">1</button>
<button onclick="loadVideo('v1D2Z33CsyE');" type="button">2</button> 

<? require_once 'pop/player.html' ?>

<script>
	//openPop('#pop_ok_card');
	//openPop('#pop_ok_acc');
	//openPop('#pop_form_point_charge');

	function closePop(btn) {
		$(btn).closest('.pop').fadeOut('fast');
		player.stopVideo();
	}

	function openPop(pop) {
		$(pop).show();
	}

	function loadVideo(id) {
		player.loadVideoById(id);
		openPop('#pop_player');
	}
</script>
</body>
</html>