<!--<img class="img" src="img.jpg" alt="" style="display: none;">-->

<script>
	/*var $img = $('.img');

	$img.on('mouseenter', function () {
		$img.attr('src', '/-/img/ex/img_v.jpg');	
	});

	$img.on('mouseleave', function () {
		$img.attr('src', '/-bwm/img/ex/img-h.jpg');
	});*/

	$('<img>').attr('src', 'img.jpg');
	$(document).on('click', function () {
		$('<img>').attr('src', 'img.jpg');
		
	});
</script>

<ul>
	<li>
		jquery로 간단히 캐시해 놓을 수 있음
	</li>
</ul>

<ul>
	<li>
		개발자도구 network 캐시 끄고 확인
	</li>
</ul>