<div class="b_cont">
	<h2>Date</h2>
	<script class="on">
		$b.result($b.date.getFullDate());
		$b.result($b.date.getFullDate('/'));
		$b.result($b.date.getYear());
		$b.result($b.date.getMonth());
		$b.result($b.date.getDate());
	</script>

	<h2>Time</h2>
	<script class="on">
		$b.result($b.date.getFullTime());
		$b.result($b.date.getFullTime(' '));
		$b.result($b.date.getHour());
		$b.result($b.date.getMinute());
		$b.result($b.date.getSecond());
	</script>

	<h2>Day</h2>
	<script class="on">
		$b.result($b.date.getDay() + '요일');
	</script>
</div>