<div class="b_btn_w b_cont">
	<h2>px Unit</h2>
	<div class="b_ta_c b_mg_c_h_2px">
		<button type="button">확인</button>
		<button class="b_btn_cancel" type="button">취소</button>
	</div>
	<div class="b_ta_c b_mg_c_h_4px">
		<button type="button">확인</button>
		<button class="b_btn_cancel" type="button">취소</button>
	</div>
	<div class="b_ta_c b_mg_c_h_4px">
		<button class="b_bdrs" type="button">확인</button>
		<button class="b_bdrs b_btn_cancel" type="button">취소</button>
	</div>
	<div class="b_ta_c b_mg_c_h_4px">
		<button class="b_btn_lx b_w_10em b_bdrs" type="button">확인</button>
		<button class="b_btn_lx b_w_10em b_bdrs b_btn_cancel" type="button">취소</button>
	</div>
	<div class="b_ta_c b_mg_c_h_4px">
		<button class="b_btn_l b_w_10em b_bdrs" type="button">확인</button>
		<button class="b_btn_l b_w_10em b_bdrs b_btn_cancel" type="button">취소</button>
	</div>
	<div class="b_ta_c b_mg_c_h_4px">
		<button class="b_btn_l2 b_w_10em b_bdrs" type="button">확인</button>
		<button class="b_btn_l2 b_w_10em b_bdrs b_btn_cancel" type="button">취소</button>
	</div>

	<h2>em Unit</h2>
	<div class="b_ta_c b_mg_c_h_0_5em">
		<button type="button">확인</button>
		<button class="b_btn_cancel" type="button">취소</button>
	</div>
	<div class="b_ta_c b_mg_c_h_1em">
		<button type="button">확인</button>
		<button class="b_btn_cancel" type="button">취소</button>
	</div>
	<div class="b_ta_c b_mg_c_h_2em">
		<button type="button">확인</button>
		<button class="b_btn_cancel" type="button">취소</button>
	</div>
</div>