<div class="b_bt">
	<div>
		<button id="alert" type="button">alert</button>
	</div>
	<div>
		<button id="alert_with_fallback" type="button">alert_with_fallback</button>
	</div>
	<div>
		<button id="alert_with_head" type="button">alert_with_head</button>
	</div>
	<div>
		<button id="alert_with_head_fallback" type="button">alert_with_head_fallback</button>
	</div>
</div>

<script>
	$('#alert').on('click', function () {
		$b.alert('내용이다');
	});
	$('#alert_with_fallback').on('click', function () {
		$b.alert('내용이다', function () {
			alert('fallback');
		});
	});
	$('#alert-with-head').on('click', function () {
		$b.alert('제목이다', '내용이다');
	});
</script>

<section id="b_alert" class="b_pop">
	<div class="b_pop_page">
		<div class="b_pop_page_head">제목</div>
		<div class="b_pop_page_cont">내용</div>
		<div class="b_pop_page_foot b_bt b_bt_s">
			<button onclick="$b.pop.close(this);" type="button">확인</button>
		</div>
	</div>
</section>