<div class="b_cont">
	<table class="b_tb">
		<thead>
		<tr>
			<th>제목1</th>
			<th>제목1</th>
			<th>제목1</th>
		</tr>
		</thead>
		<thead>
		<?php for ($i = 0; $i < 5; $i++) { ?>
			<tr>
				<td>내용</td>
				<td>내용</td>
				<td>내용</td>
			</tr>
		<?php } ?>
		</thead>
	</table>
	<table class="b_tb b_tb_orange">
		<thead>
		<tr>
			<th>제목1</th>
			<th>제목1</th>
			<th>제목1</th>
		</tr>
		</thead>
		<thead>
		<?php for ($i = 0; $i < 5; $i++) { ?>
			<tr>
				<td>내용</td>
				<td>내용</td>
				<td>내용</td>
			</tr>
		<?php } ?>
		</thead>
	</table>
	<table class="b_tb b_tb_yellow">
		<thead>
		<tr>
			<th>제목1</th>
			<th>제목1</th>
			<th>제목1</th>
		</tr>
		</thead>
		<thead>
		<?php for ($i = 0; $i < 5; $i++) { ?>
			<tr>
				<td>내용</td>
				<td>내용</td>
				<td>내용</td>
			</tr>
		<?php } ?>
		</thead>
	</table>
	<table class="b_tb b_tb_green">
		<thead>
		<tr>
			<th>제목1</th>
			<th>제목1</th>
			<th>제목1</th>
		</tr>
		</thead>
		<thead>
		<?php for ($i = 0; $i < 5; $i++) { ?>
			<tr>
				<td>내용</td>
				<td>내용</td>
				<td>내용</td>
			</tr>
		<?php } ?>
		</thead>
	</table>
</div>