<!DOCTYPE html> 
    <head> <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> </head> 
    <body style="margin: 0; padding: 0;"> 
        <table width="710" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto; padding: 0; " > 
        <tr> 
            <td><a href="http://www.quizmall.co.kr/p/index.php" target="_blank"><img src="http://www.quizmall.co.kr/images/email/20180821/top.gif" border="0" style="vertical-align: middle"/></a>
            </td> 
        </tr> 
        <tr>	
            <td> 
                <img style="vertical-align: middle;" alt="" src="http://www.quizmall.co.kr/images/email/20180821/image1.jpg"> 
                <div style="border-left: 22px #FFC116 solid; border-right:22px #FFC116 solid;"> 
                    <div style="display: inline-block ; zoom:1 ; padding-left:80px; margin: 0; background-color: white;vertical-align: middle;text-align: center;"> 
                        <div style="background-color: #8F3F1E; display: inline-block ;"> 
                            <p style="width:265px; height: 65px;line-height:65px; font-size: 16px; color: #FEFFFD; text-align: center; font-weight: bold; vertical-align: middle;">Authentication number</p> </div> 
                            <div style="background-color:#D7D7D7; display: inline-block ;"> 
                                <p style="width:265px; height: 65px;line-height:65px; font-size: 16px;font-weight: 200; vertical-align: middle;">#AUTH_CODE#</p> 
                            </div> 
                        </div> 
                    </div> 
                    <img style="vertical-align: middle;" alt="" src="http://www.quizmall.co.kr/images/email/20180821/image2.jpg"> 
            </td> 
        </tr> 
        <tr> 
            <td>
                <a href="http://www.quizmall.co.kr/p/index.php" target="_blank"><img src="http://www.quizmall.co.kr/images/email/20180821/dbdbdeep_bottom.jpg" style="border:0;"/></a>
            </td> 
        </tr> 
        </table> 
        <map name="Map" id="Map"> <area shape="rect" coords="225,1024,549,1133" href="http://www.dbdbdeep.com/ma/" target="_blank"> 
        <area shape="rect" coords="226,1853,551,1959" href="#"> <area shape="rect" coords="244,2076,505,2137" href="http://www.dbdbdeep.com/ma/" target="_blank"> 
        </map> 
    </body>