<section class="b_fd_w b_btn_w b_cont">
	<section>
		<h2>버튼 타입</h2>
		<div class="b_mh_c_1em">
			<button type="button">버튼</button>
			<a href="">링크</a>
			<input type="button" value="인풋">
		</div>
	</section>
	<section>
		<h2>버튼 크기</h2>
		<div>
			<section class="b_btn_w_s2">
				<a href="">버튼</a>
				<input type="button" value="버튼">
				<button type="button">버튼</button>
			</section>
			<section class="b_btn_w_s">
				<a href="">버튼</a>
				<input type="button" value="버튼">
				<button type="button">버튼</button>
			</section>
			<section class="">
				<a href="">버튼</a>
				<input type="button" value="버튼">
				<button type="button">버튼</button>
			</section>
			<section class="b_btn_w_l">
				<a href="">버튼</a>
				<input type="button" value="버튼">
				<button type="button">버튼</button>
			</section>
			<section class="b_btn_w_l2">
				<a href="">버튼</a>
				<input type="button" value="버튼">
				<button type="button">버튼</button>
			</section>
		</div>
		<h2></h2>
		<div class="b_ta_c">
			<button class="b_w_10em b_btn_ok" type="button">확인</button>
			<button class="b_w_10em b_btn_cancel" type="button">취소</button>
		</div>
		<h2>전체 버튼</h2>
		<div>
			<section class="b_cont">
				<button class="b_btn_l2 b_w_100pc" type="button">가나다</button>
				<button class="b_btn_l2 b_w_100pc b_btn_pink" type="button">가나다</button>
				<button class="b_btn_l2 b_w_100pc b_btn_gray" type="button">가나다</button>
			</section>
		</div>
	</section>
	<section>
		<h2>버튼 색깔</h2>
		<div>
			<a class="">버튼</a>
			<a class="b_btn_ok">버튼</a>
			
			<a class="b_btn_black" href="">버튼</a>
			<a class="b_btn_alt" href="">버튼</a>
			
			<a class="b_btn_hotpink" href="">버튼</a>
			<a class="b_btn_pink" href="">버튼</a>

			<a class="b_btn_w_safe" href="">버튼</a>
			<a class="b_btn_green" href="">버튼</a>
			
			<a class="b_btn_red" href="">버튼</a>
			<a class="b_btn_fire" href="">버튼</a>

			<a class="b_btn_alert" href="">버튼</a>
			<a class="b_btn_orange" href="">버튼</a>
			
			<a class="b_btn_warn" href="">버튼</a>
			<a class="b_btn_yellow" href="">버튼</a>
			
			<a class="b_btn_cancel" href="">버튼</a>
			<a class="b_btn_gray" href="">버튼</a>
			
			<a class="b_btn_w_silver" href="">버튼</a>
			<a class="b_btn_disable" href="">버튼</a>
		</div>
	</section>
	<section>
		<h2>필드와 버튼</h2>
		<form>
			<div>
				<input type="text" class="aaa" placeholder="텍스트" style="width: 100px;">
				<button type="button">버튼</button>
			</div>
			<div class="b_flex">
				<input type="text" class="aaa" placeholder="텍스트">
				<button style="width: 100px; flex-shrink: 0;" type="button">버튼</button>
			</div>
			<div class="b_flex">
				<input type="text" class="aaa" placeholder="텍스트">
				<button style="width: 100px;" type="button">버튼</button>
			</div>
			<div class="b_flex">
				<select name="" id="" style="flex-basis: 200px;">
					<option value="">가나다</option>
					<option value="">가나다</option>
				</select>
				<input type="text" class="aaa" placeholder="텍스트" style="flex-grow: 1;">
				<button style="flex-basis: 100px;" type="button">버튼</button>
			</div>
			<div>
				<input type="text" style="width: 10em;" placeholder="텍스트">
				<?php for ($i = 0; $i < 10; $i ++) { ?>
				    <label>
    					<input type="checkbox"><span>체크</span>
    				</label>
				<?php } ?>
				<?php for ($i = 0; $i < 10; $i ++) { ?>
				    <label>
    					<input type="radio"><span>라디오</span>
    				</label>
				<?php } ?>
			</div>
			<div>
				<textarea placeholder="텍스트"></textarea>
			</div>
		</form>
	</section>
	<section>
		<h2>필드 버튼 크기</h2>
		<form>
			<section class="b_fd_w_s2 b_btn_w_s2">
				<div class="b_flex">
					<input type="text" class="aaa" placeholder="텍스트">
					<button style="flex-basis: 100px;" type="button">버튼</button>
				</div>
			</section>
			<section class="b_fd_w_s b_btn_w_s">
				<div class="b_flex">
					<input type="text" class="aaa" placeholder="텍스트">
					<button style="flex-basis: 100px;" type="button">버튼</button>
				</div>
			</section>
			<section class="b_fd_w b_btn_w">
				<div class="b_flex">
					<input type="text" class="aaa" placeholder="텍스트">
					<button style="flex-basis: 100px;" type="button">버튼</button>
				</div>
			</section>
			<section class="b_fd_w_l b_btn_w_l">
				<div class="b_flex">
					<input type="text" class="aaa" placeholder="텍스트">
					<button style="flex-basis: 100px;" type="button">버튼</button>
				</div>
			</section>
			<section class="b_fd_w_l2 b_btn_w_l2">
				<div class="b_flex">
					<input type="text" class="aaa" placeholder="텍스트">
					<button style="flex-basis: 100px;" type="button">버튼</button>
				</div>
			</section>
		</form>
	</section>
</section>