/*# initialize*/
main {display: block;}

.b_init {
  * {font-family: 'Malgun Gothic'; letter-spacing: -0.03em; line-height: 1.6; color: #555;}
  a {color: #3baae3; text-decoration: none;}
  a:hover {box-shadow: 0px 0px 3px 3px skyblue;}
  
  a[target=_blank]::after {content: '=▷'; font-size: smaller; transform: rotate(-30deg); display: inline-block; box-shadow: none;}
  a:hover[target=_blank]::after {content: '=▶';text-decoration: none; color: orange;}
  ul, ol {padding-left: 1.2em;}

  h1 {font-size: 22px; border-bottom: solid 1px #ccc; padding-bottom: .2em;}
  h2 {font-size: 20px;}
}

@media(max-width: 1000px) {
  .b_init * {
    font-size: 12px;
  }

}

.b_page {padding: 1px 3%; max-width: 1000px; margin: 0 auto 5%; background: white; box-sizing: border-box;
  border-top: none; border-bottom: none; position: relative; box-shadow: 4px 4px 8px #bbb;
}

.b_page > * {margin: 40px 0;}

.b_page  h2 {margin-top: 80px;}

/*list*/
.b_ls {
  ul > *, ol > * {margin: .0em 0; padding: .6em 0 .4em;}
}

.b_ls_bordered {
  ul > *, ol > * {border-bottom: solid 1px #ccc;}
  ul > *:last-child, ol > *:last-child {border-bottom: none;}
}

.b_ls_off_style {
  ul > *, ol > * {list-style-type: none;}
}

body .b_ls_inside {
  ul, ol {padding: 0;}
  ul > *, ol > * {list-style-position: inside;}
}

/*field*/
.b_fd {
  input[type=text], input[type=password], select, textarea {
    border: solid 1px #ccc; background: white; border-radius: 3px; font-size: smaller;
    padding: 0em .2em; box-sizing: border-box; height: 30px;
  }
  
  input:focus, select:focus, textarea:focus
  {box-shadow: 0px 0px 3px 3px skyblue;}

  label > span {font-size: smaller; vertical-align:  baseline;}
  label > input[type=checkbox], label > input[type=radio] {
    font-size: smaller;position: relative; top: -0.16em;
    vertical-align: middle;
  }

  textarea {width: 100%; height: 100px; vertical-align: middle;}
}
@media(max-width: 1000px) {
  .b_fd {
    label > input[type=checkbox], label > input[type=radio] {
      width: 13px; height: 13px; top: -0.1em;
    }
    label > input[type=checkbox] { top: -0.07em}
    label > input[type=radio] { top: -0.22em}
  }
}

/*btn*/
.b_bt {
  button, a, input[type=button] {
    color: white; background: #0070a3; border: none; font-size: smaller;
    display: inline-block; box-sizing: border-box; cursor: pointer; border-radius: 3px;
    height: 30px; padding: 0 1em; vertical-align: middle;
    position: relative; top: -2px;
  }

  a {line-height: 30px;}

  button:hover, a:hover, input[type=button]:hover {box-shadow: 0px 0px 3px 3px skyblue;}
}
@media(max-width: 1000px) {
  .b_bt {
    button, a, input[type=button] {
      top: -1px;
    }
  }
}

/*# util*/
.cl_fix::after {content: ''; display: block; clear:both;}
.p_a {position: absolute;}
.t {top: 0}  .r {right: 0;} .b {bottom: 0}  .l {left: 0;}
.c {left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
.p_0 {padding: 0;}