

/**/
.b-on { display: none;}

.b-on-btn { 
    display: inline-flex; align-items: center; justify-content: space-between; 
    width: 4em; height: 1.8em; padding: 0 0 0 0.8em;
    background: #aaa; border: solid 1px #aaa;
    border-radius: 200px; overflow: hidden; font-size: inherit;
    cursor: pointer; position: relative; /*pointer-events: none;*/
    vertical-align: middle;
}

/*on*/.b-on:checked + .b-on-btn {background: #4c5b95; border: solid 1px #4c5b95;}

.b-on-btn * { transition: all .2s;}

.b-on-txt { color: white; font-size: 1em; position: absolute; top: 0; bottom: 0; margin: auto; left: calc(100% - 1.9em); line-height: 1.6}
/*on*/.b-on:checked + .b-on-btn .b-on-txt { left: .8em; margin-bottom: .2em;}

.b-on-txt::after { content: 'off';}
/*on*/.b-on:checked + .b-on-btn .b-on-txt::after { content: 'on';}

.b-on-toggle { background: #fff; width: 1.5em; height: 1.5em; border-radius: 200px;
    display: block; flex-shrink: 0; position: absolute; right: calc(100% - 1.5em); top: 0; bottom: 0; margin: auto;
}
/*on*/.b-on:checked + .b-on-btn .b-on-toggle { right: 0;}
/**/

.b-art > section { margin: 40px 0 0 0;}
.b-art > section:first-child { margin-top: 0;}


.b-tl {text-align: left !important;}
.b-tc {text-align: center !important;}
.b-tr {text-align: right !important;}

.b-fx {display: flex !important;}

.b-ifx {display: inline-flex !important;}

.b-ac {align-items: center !important;}

.b-jc {justify-content: center !important;}

.b-nowrap {white-space: nowrap;}

.b-ul-init { padding: 0;}
.b-ul-init li { list-style: none;}

.b-tag { color: silver}

/**/
.b-mgc-v-4px > * { margin: 4px 0;}
.b-mgc-v-4px > *:first-child { margin-top: 0px;}
.b-mgc-v-4px > *:last-child { margin-bottom: 0px;}

.b-mgc-v-8px > * { margin: 8px 0;}
.b-mgc-v-8px > *:first-child { margin-top: 0px;}
.b-mgc-v-8px > *:last-child { margin-bottom: 0px;}

.b-mgc-v-12px > * { margin: 12px 0;}
.b-mgc-v-12px > *:first-child { margin-top: 0px;}
.b-mgc-v-12px > *:last-child { margin-bottom: 0px;}
/**/

/**/
.b-mgc-h-4px > * {margin-right: 4px;}
.b-mgc-h-4px > *:last-child {margin-right: 0px;}

.b-mgc-h-8px > * {margin-right: 8px;}
.b-mgc-h-8px > *:last-child {margin-right: 0px;}

.b-mgc-h-12px > * {margin-right: 12px;}
.b-mgc-h-12px > *:last-child {margin-right: 0px;}
/**/

/**/
.b-box {
    padding: 10px 10px; background: #fff; box-sizing: border-box; border-radius: 6px; margin: 15px 0;
    display: block; border: solid 1px #ddd;
}

.b-box:first-child {margin-top: 0;}
.b-box:last-child {margin-bottom: 0;}

.b-box > * {margin: 15px 0;}
.b-box > *:first-child {margin-top: 0;}
.b-box > *:last-child {margin-bottom: 0;}

.b-box--yellow, .b-box--tip { background: #fff9e2; }
.b-box--tip::before { content: 'Tip'; display: block; margin-bottom: 5px; font-size: 10px;}
.b-box--blue, .b-box--goal {background: #f0f5ea;}
.b-box--red, .b-box--warn {background: #fff7f7;}
.b-box--warn::before { content: 'Warn'; display: block; margin-bottom: 5px; font-size: 10px;}
.b-box--silver, .b-box--info {background: #f5f5f5;}

.b-box-shadow {box-shadow: 1px 1px 3px #ccc;}

.b-box {padding: 10px 10px; box-sizing: border-box; border-radius: 6px; margin: 15px 0; display: block;
    /*border: solid 1px #dfdfdf;*/
    box-shadow: 3px 3px 5px #bbb, -3px -3px 5px #eee;
    /*box-shadow: 3px 3px #ccc;*/
    /*border: solid 3px #eee; border-right: 0; border-bottom: 0;*/
}

.b-box:first-child {margin-top: 0;}
.b-box:last-child {margin-bottom: 0;}

.b-box > * {margin: 15px 0;}
.b-box > *:first-child {margin-top: 0;}
.b-box > *:last-child {margin-bottom: 0;}

.b-box-shadow {box-shadow: 1px 1px 3px #ccc;}

.b-box:hover, button:hover, input:hover, textarea:hover {box-shadow: 0px 0px 3px 3px #ddd;}
.b-box:focus, button:focus, input:focus, textarea:focus {box-shadow: 0px 0px 3px 3px skyblue;}
/**/
/**/

/**/
.b-img-chk {display: none;}

.b-img-chk-btn {
    background: url(/home/img/comm/form/b-img-chk.png) center / cover; width: 1.5em; height: 1.5em;
    -webkit-appearance: none;  border: 0;
    vertical-align: middle; transition: all .2s; pointer-events: none;
}

.b-img-chk:checked + .b-img-chk-btn {background-image: url(/home/img/comm/form/b-img-chk-on.png);}
/**/

/**/
.b-nav {display: flex; flex-wrap: wrap;}

.b-nav > a { border-bottom: solid 1px #444; margin-right: 1em; position: relative;}
.b-nav > a:last-child { margin-right: 0;}

.b-nav > a::after { content: ''; position: absolute; right: -.5em; height: 50%; width: 1px; background: #888;
    top: 0; bottom: 0; margin: auto;
}
.b-nav > a:last-child::after {display: none;}
/**/

/**/
.b-pop {
    z-index: 10000; position: fixed; left: 0; top: 0; width: 100%; height: 100%;
    background: rgba(0,0,0,.5);
    display: none; align-items: center; justify-content: center;
}

.b-pop--show { display: flex !important;}

.b-pop-page {
    width: 90%; max-width: 500px;
    background: white;
    box-sizing: border-box;
    box-shadow: 0 0 2px 2px rgba(200,200,200, 0.2);
}

.b-pop-tit { text-align: center; background: #eee; height: 30px; display: flex;
    align-items: center; justify-content: center;
}

.b-pop-cont { padding: 30px 15px 20px;}

.b-pop-btn-area { display: flex; justify-content: center; margin-top: 20px;}

.b-pop-foot { display: flex; height: 60px; align-items: center; justify-content: center;}
/**/

/**/
.b-btn-area {display: flex; align-items: center; justify-content: center; flex-wrap: wrap; margin: 20px 0 0; position: relative;}

.b-btn-area > * {margin: 10px 5px;}

.b-btn {
    box-sizing: border-box;
    display: inline-flex; align-items: center; justify-content: center;
    cursor: pointer; border-radius: 5px;
    padding: 0 1em;
    height: 30px; line-height: 30px; font-size: inherit;
    color: #222; border: solid 1px #b6b6b6;
    background: linear-gradient(0deg, #ddd 0%, #eee 50%, #fff 100%);
    box-shadow: 0px 1px 0px 0px #aaa;
}

.b-btn--15px, .b-btn--2xs {height: 15px; font-size: 9px;}
.b-btn--20px, .b-btn--xs {height: 20px; font-size: 10px;}
.b-btn--25px, .b-btn--s {height: 25px; font-size: 11px;}
.b-btn--35px, .b-btn--l {height: 35px; font-size: 15px;}
.b-btn--40px, .b-btn--xl {height: 40px; font-size: 16px;}
.b-btn--45px, .b-btn--2xl {height: 45px; font-size: 17px;}

.b-btn--round {border-radius: 500px !important; padding: 0 1.5em; min-width: 6em;}
.b-btn--full {width: 100%;}

.b-btn > img {height: 1em;}

.b_btn__black, .b_btn__save {background: #333; border: solid 1px #333; color: #fff;}

.b-theme-black .b-btn {background: #fff; border: solid 1px silver; color: #000;}
.b-theme-black .b-btn--color1 {background: #555; border: solid 1px #333; color: #fff;}

.b-theme-blue .b-btn {background: #fff; border: solid 1px silver; color: #000;}
.b-theme-blue .b-btn--color1 { border: solid 1px #3db0e4; background: #6cb4d5; color: white;}

.b-theme-red .b-btn {background: #fff; border: solid 1px silver; color: #000;}
.b-theme-red .b-btn--color1 { border: solid 1px #dc6c62; background: #e5857d; color: white;}

.b-theme-yellow .b-btn {background: #fff; border: solid 1px silver; color: #000;}
.b-theme-yellow .b-btn--color1 { border: solid 1px #ff9e0e; background: #ffab2f; color: white;}

.b_btn__silver, .b_btn__disable {background: silver; border: solid 1px silver; color: #fff;}
.b-btn--gray, .b_btn__cancel {background: gray; border: solid 1px gray; color: #fff;}

/*.b_btn__glow_black {background: linear-gradient(0deg, #616161 0%, #3b3b3b 50%, #878787 100%); color: white;}*/
.b-btn--black, .b-theme-black-glow .b-btn--color1, .b_btn__glow_black {background: linear-gradient(0deg, #5c5c5c 0%, #3b3b3b 50%, #979797 100%); color: white; border: solid 1px #555555;}

/*.b_btn__glow_blue {background: linear-gradient(0deg, #3db0e4 0%, #3db0e4 50%, #8dd2f1 100%); color: white; border: solid 1px #5baae2;}*/
.b-btn--link, .b-theme-blue-glow .b-btn--color1, .b_btn__glow_blue {background: linear-gradient(0deg, #8dcbe7 0%, #3db0e4 50%, #9ed3ea 100%); color: white; border: solid 1px #5baae2;}

/*.b_btn__glow_red {background: linear-gradient(0deg, #db8780 0%, #dc6c62 50%, #e59992 100%); color: white; border: solid 1px #dc6c62;}*/
.b-btn--warn, .b-theme-red-glow .b-btn--color1, .b_btn__glow_red {background: linear-gradient(0deg, #eca6a0 0%, #dc6c62 50%, #e59992 100%); color: white; border: solid 1px #dc6c62;}

/*.b_btn__glow_blue {background: linear-gradient(0deg, #3db0e4 0%, #3db0e4 50%, #8dd2f1 100%); color: white; border: solid 1px #5baae2;}*/
.b-btn--fn, .b-btn--color1, .b-theme-yellow-glow .b-btn--color1 {background: linear-gradient(0deg, #fab957 0%, #ff9e0e 50%, #f3cf98 100%); color: white; border: solid 1px #ec9c47;}

.b-cont { position: relative; background: 100% 100%; min-height: 30px;}



.b-img-wrap {width: 100%; height: 100%; background: #ddd; overflow: hidden; border: solid 1px #ddd; border-radius: 8px; position: relative;
    display: inline-flex;
}

.b-img-div { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: center / cover;}


.b-art {margin: 80px 0 0;}
.b-art:first-child {margin-top: 0;}

/*table that has wrap*/
.b-tbl-wrap {border-radius: 7px; overflow: hidden; border: solid 1px #ddd;
    margin: 2% 0;
}

.b-tbl {border-collapse: collapse; width: 100%;}

.b-tbl th {background: whitesmoke; padding: 1%; border: solid 1px #ddd; border-top: 0;
    font-weight: normal;  box-sizing: border-box;
}

.b-tbl th:first-child {border-left: none;}
.b-tbl th:last-child {border-right: none;}

.b-tbl tbody tr:last-child th {border-bottom: none;}
.b-tbl tbody th {text-align: left; vertical-align: top;}

.b-tbl td {border: solid 1px #ddd; padding: 1%; border-bottom: none; border-left: none; box-sizing: border-box;}
.b-tbl td:first-child {border-left: none;}
.b-tbl td:last-child {border-right: none;}
.b-tbl tr:first-child td {border-top: none;}
/**/

.b-tbl2 {border-top: solid 2px #555; border-bottom: solid 1px #555; width: 100%; border-spacing: 0;}

.b-tbl2 th, .b-tbl2 td { border-bottom: solid 1px #ccc; padding: 1.5% 2.5%;}
.b-tbl2 th {}
.b-tbl2 td {}

.b-tbl2 tbody th { width: 20%; position: relative;}
.b-tbl2 tbody th:after { content: ''; width: 1px; height: 50%; background: #ddd; 
    position: absolute; top: 0; bottom: 0; right: 0; margin: auto;
}

/**/
.b-inp, .b-form input[type=text] { border: solid 1px #ccc; border-radius: .2em; height: 2.5em; width: 100%;
    padding: 0 0.5em; box-sizing: border-box;
}