body {margin: 0 4% 4%;}
/**/
#wrap { overflow: visible; /*max-width: 1000px;*/ margin: 0 auto;}
#wrap:after { content: ""; clear: both; display: table; }
/**/
#header:after { content: ""; clear: both; display: table; }
#header { position: relative;
	margin: 0 auto; margin: 0 2%; box-sizing: border-box; }
#header a { color: #333; }
/**/
#logo {float: left;}
/**/
#gnb {float: left; margin: 30px 0 30px 30px;}
#gnb a {margin-left: 30px; display: inline-block;}
/**/
/*#mnb {position: absolute; top: 10px; right: 0;}*/
#mnb {float: right; padding: 10px 0; font-size: 14px;}
#mnb a {position: relative;}
/**/
#middle {}
#middle:after { content: ""; clear: both; display: table; }
/**/
#main { box-sizing: border-box; }
body.left #main { float: right; width: 70%; }
body.right #main { float: left; width: 70%; }
/**/
#aside-left {float: left; width: 28%; box-sizing: border-box;}
/**/
#aside-right {float: right; width: 28%; box-sizing: border-box;}
/**/
.page {box-shadow: #ccc 2px 2px 2px; background: white;
	margin: 0 auto; padding: 4%; min-height: 100px;
}
/**/
#footer { margin-top: 20px; position: relative; overflow: hidden;}
#footer:after { content: ""; clear: both; display: table; }
#address { float: left; }
#family {float: right;}

@media (max-width: 800px) {
	body {margin-bottom: 20px;}
	#logo {float: none;}
	#gnb {margin: 20px 0 30px 0px;}
	#gnb a {margin-left: 10px;}
}