body {margin: 0 4% 4%;}
/**/
#wrap { overflow: visible; max-width: 1500px; margin: 0 auto;}
#wrap:after { content: ""; clear: both; display: table; }
/**/
#header:after { content: ""; clear: both; display: table; }
#header { position: relative;
	margin: 0 auto; margin: 0 2%; box-sizing: border-box; }
#header a { color: #333; }
/**/
#logo {float: left;}
/**/
#gnb {float: left; margin: 30px 0 30px 30px;}
#gnb a {margin-left: 30px; display: inline-block;}
/**/
/*#mnb {position: absolute; top: 10px; right: 0;}*/
#mnb {float: right; padding: 10px 0; font-size: 14px;}
#mnb a {position: relative;}
/**/
#middle {}
#middle:after { content: ""; clear: both; display: table; }
/*main*/
#main { box-sizing: border-box; width: 78%; position: relative;}
body.main #main
, body.test-front-end-main #main
, body.test-back-end-main #main
{ float: right;}
body.main #main
, body.test-front-end-sub #main
, body.test-back-end-sub #main
{ float: left;}
/*aside*/
#aside-left, #aside-right { width: 20%; box-sizing: border-box; float: left; padding: 0 20px;}
#aside-right {float: right;}
/**/
.page {box-shadow: #ccc 2px 2px 2px; background: white;
	margin: 0 auto 20px; padding: 4%; min-height: 100px;
}
/*footer*/
#footer { position: relative; overflow: hidden; width: 78%; box-sizing: border-box;}
#footer:after { content: ""; clear: both; display: table; }

body.main #footer
, body.test-front-end-sub #footer
, body.test-back-end-sub #footer
{float: left;}

body.test-front-end-main #footer
, body.test-back-end-main #footer
{float: right;}

/**/
#address { float: left; }
#family {float: right;}

@media (max-width: 1000px) {
	body {margin-bottom: 20px;}
	.page { margin: 0 0 20px;}
	#logo {float: none;}
	#gnb {margin: 20px 0 30px 0px;}
	#gnb a {margin-left: 10px;}
	#main {float: none !important; width: auto !important;}
	#aside-left, #aside-right
	{float: none !important; width: auto !important; padding: 4% !important;}
	#footer {width: 100%;}
}

.view-source {position: absolute; top: 10px; right: 15px; font-size: 13px;}