body {
	font-family: malgun gothic, arial, sans-serif; text-shadow: #ccc 1px 1px 1px;
	color: #333; font-size: 100%;
	margin: 0; background: #eee;
	word-break: break-all; line-height: 1.5;
}

h1 {font-size: 2em; margin: 0.5em 0;}

p {margin: 2em 0; line-height: 2;}

ul {margin: 2em 0; padding: 0 0 0 1.5em;}
li {margin: 1em 0;}

a {color: #0089d6; text-decoration: none;}
a:hover {text-decoration: underline;}

/* patch old browser */
main,
header,
footer,
nav,
aside,
section {display: block; margin: 0;}