<section class="b_fd b_bt b_ls b_cont">
	<section class="b_cont">
		<h2>버튼 종류</h2>
		<div>
			<button type="button">버튼</button>
			<a href="">버튼</a>
			<input type="button" value="버튼">
		</div>
	</section>
	<div>
		<input type="text" class="aaa" value="텍스트" style="width: 100px;">
		<button type="button">버튼</button>
	</div>
	<div class="b_flex">
		<input type="text" class="aaa" value="텍스트">
		<button style="width: 100px; flex-shrink: 0;" type="button">버튼</button>
	</div>
	<div class="b_flex">
		<input type="text" class="aaa" value="텍스트">
		<button style="width: 100px;" type="button">버튼</button>
	</div>
	<div class="b_flex">
		<select name="" id="" style="flex-basis: 200px;">
			<option value="">가나다</option>
			<option value="">가나다</option>
		</select>
		<input type="text" class="aaa" value="텍스트" style="flex-grow: 1;">
		<button style="flex-basis: 100px;" type="button">버튼</button>
	</div>
	<div>
		<input type="text" style="width: 10em;">
		<label>
			<input type="checkbox"><span>가나다</span>
		</label>
		<label>
			<input type="radio"><span>가나다</span>
		</label>
	</div>
	<div>
		<textarea>asdf</textarea>
	</div>
	<section class="b_cont">
		<h2>버튼 크기</h2>
		<div>
			<a href="">버튼</a>
			<a class="b_bt_black" href="">버튼</a>
			<a class="b_bt_safe" href="">버튼</a>
			<a class="b_bt_alert" href="">버튼</a>
			<a class="b_bt_warn" href="">버튼</a>
			<a class="b_bt_cancel" href="">버튼</a>
		</div>
		<section class="b_fd_s2 b_bt_s2">
			<div class="b_flex">
				<input type="text" class="aaa" value="텍스트">
				<button style="flex-basis: 100px;" type="button">버튼</button>
			</div>
			<a href="">버튼</a>
			<input type="button" value="버튼">
			<button type="button">버튼</button>
		</section>
		<section class="b_fd_s b_bt_s">
			<div class="b_flex">
				<input type="text" class="aaa" value="텍스트">
				<button style="flex-basis: 100px;" type="button">버튼</button>
			</div>
			<a href="">버튼</a>
			<input type="button" value="버튼">
			<button type="button">버튼</button>
		</section>
		<section class="b_fd_l b_bt_l">
			<div class="b_flex">
				<input type="text" class="aaa" value="텍스트">
				<button style="flex-basis: 100px;" type="button">버튼</button>
			</div>
			<a href="">버튼</a>
			<input type="button" value="버튼">
			<button type="button">버튼</button>
		</section>
		<section class="b_fd_l2 b_bt_l2">
			<div class="b_flex">
				<input type="text" class="aaa" value="텍스트">
				<button style="flex-basis: 100px;" type="button">버튼</button>
			</div>
			<a href="">버튼</a>
			<input type="button" value="버튼">
			<button type="button">버튼</button>
		</section>
	</section>
</section>