<?php

use Bwm\Doc\Doc;
use Bwm\Inc\Inc;
use App\Conf\Conf;

?>
<!doctype html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title><?=Doc::getTitle();?></title>

	<?=Inc::css(Conf::ROOT_URL . "/-/css/b-g-reset.css")?>
	<?=Inc::css(Conf::ROOT_URL . "/-/css/b-g-util.css")?>
	<?=Inc::css(Conf::ROOT_URL . "/-/css/b-theme.css")?>
	
	<?=Inc::js(Conf::ROOT_URL . "/-/js/b-js/b-js.js")?>
	<?=Inc::js(Conf::ROOT_URL . "/-/js/jquery/jquery-3.6.0.min.js")?>
</head>
<body>
<section id="wrap">
	<header id="header">
		<nav id="gnb">
			<a href="/">Home</a>
			<a href="/test">test</a>
		</nav>
	</header>

	<section id="page">
		<?php require_once $_SERVER['DOCUMENT_ROOT'] . $view; ?>
	</section>

	<footer id="footer">
		footer
	</footer>
</section>
</body>
</html>