<?php

use Bwm\Doc\Doc;
use Bwm\Inc\Inc;
use App\Conf\Conf;

?>
<!doctype html>
<html lang="ko" class="<?=Doc::$layout?>">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title><?=Doc::getTitle();?></title>

	<?=Inc::css(Conf::ROOT_URL . "/-/css/b-g-reset.css")?>
	<?=Inc::css(Conf::ROOT_URL . "/-/css/b-g-util.css")?>
	<?=Inc::css(Conf::ROOT_URL . "/-/css/b-theme.css")?>

	<?=Inc::js(Conf::ROOT_URL . "/-/js/b-js/b-js.js")?>
	<?=Inc::js(Conf::ROOT_URL . "/-/js/jquery/jquery-3.6.0.min.js")?>
</head>
<body>

<?php if (Doc::$layout != "empty") { ?>
<section id="wrap">
	<header id="header">
		<nav id="gnb">
			<a href="/">Home</a>
			<a href="/test">test</a>
		</nav>
	</header>

	<section id="page">
		<?php } ?>

		<?php
		$view = urldecode($view);
		//$view = iconv('UTF-8', 'EUC-KR', $view);
		$view = iconv('EUC-KR', 'UTF-8', $view);
		//todo 함수화 해서 에러 처리 필요
		
		require_once $_SERVER['DOCUMENT_ROOT'] . $view; 
		?>

		<?php if (Doc::$layout != "empty") { ?>
	</section>

	<article id="github" class="b-box b-box--silver">
		<?php
		$github = "https://github.com/qzkml3/BWM/blob/master";
		$github1s = "https://github1s.com/qzkml3/BWM/blob/master";
		$uri = $_SERVER['REQUEST_URI'];

		$github = $github . $uri;
		$github1s = $github1s . $uri;
		?>
		<section>
			<a href="<?=$github?>" target="_blank">Show this source in Github.com (fast)</a>
		</section>
		<section>
			<a href="<?=$github1s?>" target="_blank">Show this source in Github1s.com (slow)</a>
		</section>
	</article>

	<footer id="footer">
		footer
	</footer>
</section>
<?php } ?>
</body>
</html>