#pc {
    #event {
        #event-list {
            .event-list {
                .event-list-item {top: 0;}
                .event-list-item-tit {top: 0;}
                .event-list-item-cont {top: 0;}
                .event-list-item-txt1 {top: 0;}
                .event-list-item-txt2 {top: 0;}
            }
        }
    }
} 
     
 
#pc {
    & {
        background: blue;
    }
}


#pc {
    background: blue;
}


.a-a {   
    background: green;
}

