<style>
	.b-if { border: 0; width: 100%;}
</style>

<iframe class="b-if" src=""></iframe>

<ul>
	<li>scrolling을 doc.ready에 걸어서 스크립트로 처리하면 느려서 스크롤이 초반에 보인다. 사용자 경험을 극대화 하기 위해서 비표준이지만 scrolling을 써준다.</li>
	<li>이왕 이렇게 된거 스크립트를 넣어주면 복잡해 지기 때문에 과감히 스크립트를 버리고 비표준 속성을 사용한다.</li>
</ul>

<style>
	.b-ifrm-wrap { background: #eee; padding:10px 0;}
	
	.b-ifrm {
		display: block;
		margin: 10px auto; 
		border: solid 4px #ccc; border-radius: 8px;
	}
</style>

<!--배너-->
<div class="b-ifrm-wrap">
	<iframe class="b-ifrm" src="ifrm.php" style="width: 320px; height: 100px;" scrolling="no"></iframe>
	<iframe class="b-ifrm" src="ifrm.php" style="width: 320px; height: 100px;" marginheight="0" marginwidth="0" scrolling="no"></iframe>
</div>

