<div class="b_bt_w b_cont">
	<h2>px Unit</h2>
	<div class="b_ta_c b_m_h_c_2px">
		<button type="button">확인</button>
		<button class="b_bt_cancel" type="button">취소</button>
	</div>
	<div class="b_ta_c b_m_h_c_4px">
		<button type="button">확인</button>
		<button class="b_bt_cancel" type="button">취소</button>
	</div>
	
	<div class="b_ta_c b_m_h_c_4px">
		<button class="b_bdrs" type="button">확인</button>
		<button class="b_bdrs b_bt_cancel" type="button">취소</button>
	</div>
	
	<h2>em Unit</h2>
	<div class="b_ta_c b_m_h_c_0_5em">
		<button type="button">확인</button>
		<button class="b_bt_cancel" type="button">취소</button>
	</div>
	<div class="b_ta_c b_m_h_c_1em">
		<button type="button">확인</button>
		<button class="b_bt_cancel" type="button">취소</button>
	</div>
	<div class="b_ta_c b_m_h_c_2em">
		<button type="button">확인</button>
		<button class="b_bt_cancel" type="button">취소</button>
	</div>
</div>