<main id="main">
	<section class="b-sec" style="background-image:url(/-bwm/img/ex/img-h.jpg);">

	</section>
	<section class="b-sec" style="background-image:url(/-/img/ex/img_v.jpg);">

	</section>
	
	<div class="b-box b-box--silver">
		<p>안에 통이미지를 넣기 위한 section</p>
		<p>자식에다가 margin-horizontal 줄때 부모에 넘칠 때</p>
		<ul>
			<li>inline-block은 margin: 0 auto가 안먹음</li>
			<li>overflow: hidden은 쓰기 싫음</li>
			<li>overflow: auto는 가로 줄이면 스크롤 생김</li>
			<li>flex는 layout 망하던데?</li>
			<li>일단 table로 고.</li>
		</ul>
	</div>
</main>