<style>
	.b-img-wrap { width: 100px; height: 100px;}
</style>

<div class="b-mg-v-c-15px">

	<div class="b-box">
		<ul>
			<li>svg 필터의 정의가 필요하다</li>
			<li>IE에서 블러가 안먹기 때문에 svg를 사용한다.</li>
			<li>image 에 style로 width를 주면 IE에서 안먹는다.</li>
			<li>image 에 blur를 주면 잔상이 남는다.</li>
			<li>svg, div 에 blur를 주면 IE에서 안먹는다.</li>
		</ul>
	</div>
	
	<article>
		<h2>blur + filter</h2>
		<div>
			<div class="b-img-wrap">
				<svg><image class="b-image-blur-2" width="100%" height="100%" xlink:href="/-/img/ex/img_v.jpg"></image></svg>
				<div class="b-img-filter"></div>
			</div>
			<div class="b-img-wrap">
				<svg><image class="b-image-blur-5" width="100%" height="100%" xlink:href="/-/img/ex/img_v.jpg"></image></svg>
				<div class="b-img-filter"></div>
			</div>
			<div class="b-img-wrap">
				<svg><image class="b-image-blur-10" width="100%" height="100%" xlink:href="/-/img/ex/img_v.jpg"></image></svg>
				<div class="b-img-filter"></div>
			</div>
		</div>
		<div class="b-box">
			<ul>
				<li>svg 자체에 주면 blur가 익스에서 안먹는다.</li>
			</ul>
		</div>
	</article>

	<article>
		<section>
			<h1>contain (default)</h1>
			<div class="b-img-wrap">
				<svg>
					<image width="100%" height="100%" xlink:href="/-/img/ex/img_v.jpg"></image>
				</svg>
			</div>
		</section>

		<section>
			<h1>cover</h1>
			<div class="b-img-wrap">
				<svg>
					<image width="100%" height="100%" xlink:href="/-/img/ex/img_v.jpg" preserveAspectRatio="xMidYMid slice"></image>
				</svg>
			</div>
		</section>
	</article>
	<article>
		<h1>svg blur</h1>
		<section>
			<h2>ori image</h2>
			<div class="b-img-wrap" style="width: 200px; height: 200px;">
				<svg>
					<image class="" width="100%" height="100%" xlink:href="/-/img/blur/ori.jpg"></image>
				</svg>
			</div>
		</section>

		<section>
			<h2>.b-image-blur-10 (ori image)</h2>
			<div class="b-img-wrap" style="width: 200px; height: 200px;">
				<svg>
					<image class="b-image-blur-10" width="100%" height="100%" xlink:href="/-/img/blur/ori.jpg"></image>
				</svg>
			</div>
		</section>

		<section>
			<h2>.b-image-blur-10 (width 30px image)</h2>
			<div class="b-img-wrap" style="width: 200px; height: 200px;">
				<svg>
					<image class="b-image-blur-10" width="100%" height="100%" xlink:href="/-/img/blur/30.jpg"></image>
				</svg>
			</div>
		</section>

		<section>
			<h2>.b-image-blur-10 (width 20px image)</h2>
			<div class="b-img-wrap" style="width: 200px; height: 200px;">
				<svg>
					<image class="b-image-blur-10" width="100%" height="100%" xlink:href="/-/img/blur/20.jpg"></image>
				</svg>
			</div>
		</section>

		<section>
			<h2>.b-image-blur-10 (width 10px image)</h2>
			<div class="b-img-wrap" style="width: 200px; height: 200px;">
				<svg>
					<image class="b-image-blur-10" width="100%" height="100%" xlink:href="/-/img/blur/10.jpg"></image>
				</svg>
			</div>
		</section>
	</article>
</div>

<!--블러 정의-->
<svg style="display: none;">
	<defs>
		<filter id="b-image-blur-2">
			<feGaussianBlur stdDeviation="2"></feGaussianBlur>
		</filter>
		<filter id="b-image-blur-5">
			<feGaussianBlur stdDeviation="5"></feGaussianBlur>
		</filter>
		<filter id="b-image-blur-10">
			<feGaussianBlur stdDeviation="10"></feGaussianBlur>
		</filter>
		<filter id="b-image-blur-20">
			<feGaussianBlur stdDeviation="20"></feGaussianBlur>
		</filter>
		<filter id="b-image-blur-30">
			<feGaussianBlur stdDeviation="30"></feGaussianBlur>
		</filter>
	</defs>
</svg>