




<style>
	.cont { box-shadow: 0 0 20px 2px silver;}
	
	.b-col { display: flex; flex-wrap: wrap;}
	.b-col > * { border: solid #ddd 1px; box-sizing: border-box; margin-left: 20px; margin-bottom: 10px;}

	.b-col--2 > * { width: 49%; margin-left: 2%;}
	.b-col--2 > *:nth-child(2n + 1) { margin-left: 0;}

	.b-col--3 > * { width: 32%; margin-left: 2%;}
	.b-col--3 > *:nth-child(3n + 1) { margin-left: 0;}

	.b-col--4 > * { width: 24%; margin-left: 1.335%;}
	.b-col--4 > *:nth-child(4n + 1) { margin-left: 0;}

	.b-col--5 > * { width: 19%; margin-left: 1.25%;}
	.b-col--5 > *:nth-child(5n + 1) { margin-left: 0;}

	.b-col--6 > * { width: 15%; margin-left: 2%;}
	.b-col--6 > *:nth-child(6n + 1) { margin-left: 0;}
</style>


<main>
	b-col--2
	<div class="cont b-col b-col--2">
		<?php for ($i = 0; $i < 10; $i++) { ?>
			<div class="item">a</div>
		<?php } ?>
	</div>
	b-col--3
	<div class="cont b-col b-col--3">
		<?php for ($i = 0; $i < 10; $i++) { ?>
			<div class="item">a</div>
		<?php } ?>
	</div>
	b-col--4
	<div class="cont b-col b-col--4">
		<?php for ($i = 0; $i < 10; $i++) { ?>
			<div class="item">a</div>
		<?php } ?>
	</div>
	b-col--5
	<div class="cont b-col b-col--5">
		<?php for ($i = 0; $i < 10; $i++) { ?>
			<div class="item">a</div>
		<?php } ?>
	</div>
	b-col--6
	<div class="cont b-col b-col--6">
		<?php for ($i = 0; $i < 50; $i++) { ?>
			<div class="item">a</div>
		<?php } ?>
	</div>
</main>


<script>
	
</script>


