<?php
require_once $_SERVER['DOCUMENT_ROOT'] . '/pre_proc_home.php';
define('B_LAYOUT', 'sub_test_front_end');
define('B_TITLE', BPage::getTitleByFileName());
define('B_DESC', '');
BLayout::getHeader();
?>
	<section class="page_style">
		<!--btn_small2-->
		<h2>btn_small2</h2>
		<div class="space_verti_child">
			<a class="btn_init btn_small2" href="">Button</a>
			<button class="btn_init btn_small2" type="button">Button</button>
			<a class="btn_init btn_small2" href="">가나다</a>
			<button class="btn_init btn_small2" type="button">가나다</button>
		</div>
		가나다
		<!--btn_small-->
		<h2>btn_small</h2>
		<a class="btn_init btn_small" href="">Button</a>
		<button class="btn_init btn_small" type="button">Button</button>
		<a class="btn_init btn_small" href="">가나다</a>
		<button class="btn_init btn_small" type="button">가나다</button>
		가나다
		<!--btn_init-->
		<h2>btn_init</h2>
		<a class="btn_init" href="">Button</a>
		<button class="btn_init" type="button">Button</button>
		<a class="btn_init" href="">가나다</a>
		<button class="btn_init" type="button">가나다</button>
		가나다
		<!--btn_big-->
		<h2>btn_big</h2>
		<a class="btn_init btn_big" href="">Button</a>
		<button class="btn_init btn_big" type="button">Button</button>
		<a class="btn_init btn_big" href="">가나다</a>
		<button class="btn_init btn_big" type="button">가나다</button>
		가나다
		<!--btn_big2-->
		<h2>btn_big2</h2>
		<a class="btn_init btn_big2" href="">Button</a>
		<button class="btn_init btn_big2" type="button">가나다</button>
		<a class="btn_init btn_big2" href="">Button</a>
		<button class="btn_init btn_big2" type="button">가나다</button>
		가나다
		<!--btn_full-->
		<section class="space_verti_child">
			<h2>btn_full</h2>
			<a class="btn_init width_100pc" href="">Button</a>
			<button class="btn_init width_100pc" type="button">Button</button>
			<button class="btn_init width_100pc btn_big" type="button">Button</button>
		</section>
		<!--btn_radius-->
		<section class="space_verti_child">
			<h2>btn_rad</h2>
			<div>
				<a class="btn_init brd_rad_small2" href="">Button</a>
				<button class="btn_init brd_rad_small2" type="button">Button</button>
			</div>
			<div>
				<a class="btn_init brd_rad_small" href="">Button</a>
				<button class="btn_init brd_rad_small" type="button">Button</button>
			</div>
			<div>
				<a class="btn_init brd_rad" href="">Button</a>
				<button class="btn_init brd_rad" type="button">Button</button>
			</div>
			<div>
				<a class="btn_init brd_rad_big" href="">Button</a>
				<button class="btn_init brd_rad_big" type="button">Button</button>
			</div>
			<div>
				<a class="btn_init brd_rad_big2" href="">Button</a>
				<button class="btn_init brd_rad_big2" type="button">Button</button>
			</div>
		</section>
		<!--btn_round-->
		<section>
			<h2>btn_round</h2>
			<a class="btn_init btn_round" href="">Button</a>
			<button class="btn_init btn_round" type="button">Button</button>
			<a class="btn_init btn_round" href="">가나다</a>
			<button class="btn_init btn_round" type="button">가나다</button>
			가나다
		</section>
		<!--w_6em-->
		<section>
			<h2>w_6em</h2>
			<a class="btn_init width_6em" href="">Button</a>
			<button class="btn_init width_6em" type="button">Button</button>
			가나다
		</section>
		<!--w_8em-->
		<section>
			<h2>w_8em</h2>
			<a class="btn_init width_8em" href="">Button</a>
			<button class="btn_init width_8em" type="button">Button</button>
			가나다
		</section>
		<!--w_10em-->
		<section>
			<h2>w_10em</h2>
			<a class="btn_init width_10em" href="">Button</a>
			<button class="btn_init width_10em" type="button">Button</button>
		</section>
		<!--w_12em-->
		<section>
			<h2>w_12em</h2>
			<a class="btn_init width_12em" href="">Button</a>
			<button class="btn_init width_12em" type="button">Button</button>
		</section>
		<!--custom-->
		<section class="space_verti_child">
			<h2>custom</h2>
			<a class="btn_init width_12em btn_big btn_radius" href="">Button</a>
			<button class="btn_init width_12em btn_big btn_round" type="button">Button</button>
		</section>
	</section>
<?php
BLayout::getFooter();
?>