<div class="b_btn_w b_fl b_fl_col b_fl_ai_c">
	<button class="b_btn_p_0" type="button">버튼</button>
	<button type="button">버튼</button>
	<button class="b_btn_p_2em" type="button">버튼</button>
	<button class="b_btn_p_3em" type="button">버튼</button>
	<button class="b_btn_p_4em" type="button">버튼</button>

	<h2>b_btn_l</h2>
	<button class="b_btn_l b_btn_p_0" type="button">버튼</button>
	<button class="b_btn_l" type="button">버튼</button>
	<button class="b_btn_l b_btn_p_2em" type="button">버튼</button>
	<button class="b_btn_l b_btn_p_3em" type="button">버튼</button>
	<button class="b_btn_l b_btn_p_4em" type="button">버튼</button>

	<h2>b_btn_l2</h2>
	<button class="b_btn_l2 b_btn_p_0" type="button">버튼</button>
	<button class="b_btn_l2" type="button">버튼</button>
	<button class="b_btn_l2 b_btn_p_2em" type="button">버튼</button>
	<button class="b_btn_l2 b_btn_p_3em" type="button">버튼</button>
	<button class="b_btn_l2 b_btn_p_4em" type="button">버튼</button>
</div>