<section class="b_cont">
	<section>
		<h2>버튼 타입</h2>
		<div class="b_btn_w b_btn_w b_mh_c_5px b_ta_c">
			<button type="button">버튼</button>
			<a href="">링크</a>
			<input type="button" value="인풋">
		</div>
	</section>
	<section>
		<h2>버튼 곡률</h2>
		<div class="b_btn_w b_mh_c_5px b_ta_c">
			<button class="b_btn_rad" type="button">버튼</button>
			<button class="b_btn_rad" type="button">버튼 버튼 버튼</button>
			<button class="b_btn_rad" type="button">버튼</button>
		</div>
	</section>
	<section>
		<h2>버튼 크기</h2>
		<div>
			<section class="b_btn_w b_mh_c_5px b_btn_w_s2 b_ta_c">
				<a href="">버튼</a>
				<input type="button" value="버튼">
				<button type="button">버튼</button>
			</section>
			<section class="b_btn_w b_mh_c_5px b_btn_w_s b_ta_c">
				<a href="">버튼</a>
				<input type="button" value="버튼">
				<button type="button">버튼</button>
			</section>
			<section class="b_btn_w b_mh_c_5px b_ta_c">
				<a href="">버튼</a>
				<input type="button" value="버튼">
				<button type="button">버튼</button>
			</section>
			<section class="b_btn_w b_mh_c_5px b_btn_w_l b_ta_c">
				<a href="">버튼</a>
				<input type="button" value="버튼">
				<button type="button">버튼</button>
			</section>
			<section class="b_btn_w b_mh_c_5px b_btn_w_l2 b_ta_c">
				<a href="">버튼</a>
				<input type="button" value="버튼">
				<button type="button">버튼</button>
			</section>
		</div>
		<h2>확인 취소</h2>
		<div class="b_btn_w b_mh_c_5px b_ta_c">
			<button class="b_w_7em b_btn_ok" type="button">확인</button>
			<button class="b_w_7em b_btn_cancel" type="button">취소</button>
		</div>
		<h2>확인 취소</h2>
		<div class="b_btn_w b_btn_rad_w b_mh_c_5px b_ta_c">
			<button class="b_w_7em b_btn_ok" type="button">확인</button>
			<button class="b_w_7em b_btn_cancel" type="button">취소</button>
		</div>
	</section>
	<section>
		<h2>전체 버튼</h2>
		<div>
			<section class="b_cont">
				<div class="b_btn_w b_btn_w_l2">
					<button class="b_w_100pc" type="button">확인</button>
				</div>
				<div class="b_btn_w b_btn_w_l2">
					<button class="b_w_100pc b_btn_pink" type="button">+ 더보기</button>
				</div>
				<div class="b_btn_w b_btn_w_l2">
					<button class="b_w_100pc b_btn_gray b_btn_rad" type="button">+ 더보기</button>
				</div>
			</section>
		</div>
	</section>
	<section class="b_btn_w">
		<h2>버튼 색깔</h2>
		<div>
			<a class="">버튼</a>
			<a class="b_btn_ok">버튼</a>

			<a class="b_btn_black" href="">버튼</a>
			<a class="b_btn_alt" href="">버튼</a>

			<a class="b_btn_hotpink" href="">버튼</a>
			<a class="b_btn_pink" href="">버튼</a>

			<a class="b_btn_w_safe" href="">버튼</a>
			<a class="b_btn_green" href="">버튼</a>

			<a class="b_btn_red" href="">버튼</a>
			<a class="b_btn_fire" href="">버튼</a>

			<a class="b_btn_alert" href="">버튼</a>
			<a class="b_btn_orange" href="">버튼</a>

			<a class="b_btn_warn" href="">버튼</a>
			<a class="b_btn_yellow" href="">버튼</a>

			<a class="b_btn_cancel" href="">버튼</a>
			<a class="b_btn_gray" href="">버튼</a>

			<a class="b_btn_w_silver" href="">버튼</a>
			<a class="b_btn_disable" href="">버튼</a>
		</div>
	</section>
</section>