<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^bwm\.php$ - [L] # 메인은 제외
RewriteRule .*\.(php|html)$ /home2/bwm.php [L] # php,html 확장자는 메인으로
</IfModule>


# 주소
#RewriteRule . /new/index.php # 모든것 (폴더도)
#RewriteRule .*\.(php|html)$ /new/index.php

# 주소
#RewriteRule . /new/index.php [L] #주소유지
#RewriteRule . /new/index.php [L,R=302] #주소변환