@charset "UTF-8";

@media (max-width: 1000px) {
	body {margin-bottom: 20px;}
	.page { margin: 0 0 20px;}
	#logo {float: none;}
	#gnb {margin: 20px 0 30px 0px;}
	#gnb a {margin-left: 10px;}
	#main {float: none !important; width: auto !important;}
	#aside-left, #aside-right {float: none !important; width: auto !important; padding: 4% !important;}
	#footer {width: 100%;}
}