@charset "UTF-8";

@media (max-width: 1000px) {
	body {margin-bottom: 20px;}
	.page { margin: 0 0 20px;}
	#logo {float: none;}
	
	
	
	#main {float: none !important; width: auto !important;}
	#aside-left, #aside-right {float: none !important; width: auto !important; padding: 4% !important;}
	#footer {width: 100%;}
	/*gnb*/
	#gnb {
		position: fixed; width: 300px; height: 100%; left: -320px; top: 0; background: white; z-index: 100; margin: 0;
		box-sizing: border-box; border: solid 2px #ddd; border-left: none; padding: 20px;
		box-shadow: #eee 1px 1px 1px 1px;
	}
	#gnb a {margin-left: 10px; display: list-item; color: #0089d6; list-style-type: disc; line-height: 2;}
	#gnb_btn {position: fixed; width: 35px; height: 35px; border: solid 1px #ddd; left: 10px; bottom: 10px; background: white;
		z-index: 100; display: block; color: #555;
	}
}