<main id="main">
	<div class="c">
		<img src="/-bwm/img/ex/img-h.jpg" alt="" usemap="#map-1" style="width: 100%;">
	</div>
	<map name="map-1">
		<area  coords="0,0,100,100" href="" alt="">
	</map>
</main>

<style>
	.c {position: relative;}
	.a {background: red; opacity: .5; position: absolute;}
</style>

<script>
	function traceMapArea() {
	var coords = $('area').attr('coords');
	coords = coords.split(' ').join('');
	var pos = coords = coords.split(',');
	pos[0];
	pos[1];
	pos[2];
	pos[3];
	$('.c').find('.a').remove();
	var $a = $('<a class="a"></a>').appendTo('.c');
	
	$a.css({
		left: pos[0],
		top: pos[1],
		width: pos[2],
		height: pos[3],
	});
	}
	
	setInterval(traceMapArea, 500);
		
	
	console.log(coords);
	
</script>


<script src="/-/js/img/imageMapResizer/imageMapResizer.min.js"></script>
<script>
	$('map').imageMapResize();
</script>