<?php
require_once $_SERVER['DOCUMENT_ROOT'] . '/pre_proc_home.php';
define('B_LAYOUT', '');
define('B_TITLE', BPage::getTitleByFileName());
?>
<?php BLayout::getHeader(); ?>
	<style>
		body {margin: 0;}
		#gnb_area {position: fixed; width: 50%; height: 100%;}
		#gnb_wrap {margin-}
		#gnb {width: 100px; height: 100px; background: silver;}
	</style>
	<section>
		<section id="gnb_area">
			<div id="gnb_wrap">
				<nav id="gnb">

				</nav>
			</div>
		</section>
	</section>
<?php BLayout::getFooter(); ?>