<div class="b_bt_w b_fl b_fl_col b_fl_ai_c">
	<button class="b_bt_p_0" type="button">버튼</button>
	<button type="button">버튼</button>
	<button class="b_bt_p_2em" type="button">버튼</button>
	<button class="b_bt_p_3em" type="button">버튼</button>
	<button class="b_bt_p_4em" type="button">버튼</button>

	<h2>b_bt_l</h2>
	<button class="b_bt_l b_bt_p_0" type="button">버튼</button>
	<button class="b_bt_l" type="button">버튼</button>
	<button class="b_bt_l b_bt_p_2em" type="button">버튼</button>
	<button class="b_bt_l b_bt_p_3em" type="button">버튼</button>
	<button class="b_bt_l b_bt_p_4em" type="button">버튼</button>

	<h2>b_bt_l_2</h2>
	<button class="b_bt_l_2 b_bt_p_0" type="button">버튼</button>
	<button class="b_bt_l_2" type="button">버튼</button>
	<button class="b_bt_l_2 b_bt_p_2em" type="button">버튼</button>
	<button class="b_bt_l_2 b_bt_p_3em" type="button">버튼</button>
	<button class="b_bt_l_2 b_bt_p_4em" type="button">버튼</button>
</div>