<div class="b_mg_c_h__20px">
	<div class="b_inline">
		<div>
			<button class="b-btn" type="button">btn</button>
		</div>
		<div>
			<button class="b-btn" type="button">btn</button>
		</div>
		<div>
			<button class="b-btn" type="button">btn</button>
		</div>
	</div>
	<div class="b_inline">
		<div>
			<button class="b-btn" type="button">btn</button>
		</div>
		<div>
			<button class="b-btn" type="button">btn</button>
		</div>
		<div>
			<button class="b-btn" type="button">btn</button>
		</div>
	</div>
</div>