<section class="b_cont">
	<h2>b_ls</h2>
	<div class="b_ls">
		<ul>
			<li>
				<ul>
					<li>
						<ul>
							<li>
								<ul>
									<li>
										<ul>
											<li>
												<ul>
													<li></li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>

	<h2>b_ls</h2>
	<div class="b_ls">
		<? require 'b_ls_inc.php' ?>
	</div>

	<h2>b_ls_bd</h2>
	<section class="b_ls b_ls_bd">
		<? require 'b_ls_inc.php' ?>
	</section>

	<h2>b_ls_indent</h2>
	<section class="b_ls b_ls_bd b_ls_indent">
		<? require 'b_ls_inc.php' ?>
	</section>

	<h2>b_ls b_ls_shape_off</h2>
	<section class="b_ls b_ls_bd b_ls_shape_off">
		<? require 'b_ls_inc.php' ?>
	</section>

	<h2>b_ls_indent b_ls_shape_off</h2>
	<section class="b_ls b_ls_bd  b_ls_shape_off b_ls_indent">
		<? require 'b_ls_inc.php' ?>

	</section>