<style>
</style>
<section>
	<div class="b_ls">
		<ul>
			<li>
				<ul>
					<li>
						<ul>
							<li>
								<ul>
									<li>
										<ul>
											<li>
												<ul>
													<li></li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	
	<div class="b_ls">
		<ol>
			<li>가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가
				<ol>
					<li>가낟</li>
				</ol>
			</li>
			<li>나</li>
		</ol>
		<ul>
			<li>가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가 가가
				<ul>
					<li>가나
						<ul>
							<li>가나</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>	
	</div>
	
	<section class="b_ls">
		<ul>
			<li>가</li>
			<li>나</li>
			<li>다</li>
		</ul>
	</section>

	<section class="b_ls b_ls_bd">
		<ul>
			<li>가a sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd sfd </li>
			<li>나</li>
			<li>다</li>
		</ul>
	</section>

	<section class="b_ls b_ls_bd b_ls_block">
		<ul>
			<li>가</li>
			<li>나</li>
			<li>다</li>
		</ul>
	</section>

	<section class="b_ls b_ls_bd b_ls_block b_ls_off_shape">
		<ul>
			<li>가</li>
			<li>나</li>
			<li>다</li>
		</ul>
	</section>
</section>