<style>
	.cont { position: relative; display: inline-block;
		width: 30px; height: 30px; padding-bottom: 0%; border: solid 1px #ccc;
	}
	
	.item {background: #aaa;}
</style>
<main id="main">
	<article>
		<h1>Center Position</h1>
		<section>
			<h2>Center by Transform</h2>
			<div class="cont">
				<div class="item b-trans-c">가</div>
			</div>
		</section>
		<section>
			<h2>Middle by Transform</h2>
			<div class="cont">
				<div class="item b-trans-m">가</div>
			</div>
		</section>
		<section>
			<h2>Center Middle by Transform</h2>
			<div class="cont">
				<div class="item b-trans-c-m">가</div>
			</div>
		</section>
		<section class="b-box b-box--silver">
			<ul>
				<li>
					absolute로 하면 center정렬시 width값 height값이 필요하다 
				</li>
				<li>
					tranform으로 하면 흐려지는 버그가 있으니 참고
				</li>
			</ul>
		</section>
	</article>
	
	<article>
		<h1>Custom Position</h1>
		<section>
			<h2>.b-pos-abs</h2>
			<div class="cont">
				<div class="item b-pos-abs" style="bottom: 0; right: 0;">가</div>
			</div>
		</section>
	</article>
</main>