<style>
html {font-size: 1;}
</style>

<h2> 10px </h2>
<style>
    .wrap-1x * {font-size: 10rem;}
</style>
<div class="wrap-1x">
	<div>
		<span>aaa</span>
		<div>
			bbb
			<div>
				ccc
			</div>
		</div>
	</div>
</div>


<h2> 16px </h2>
<style>
	.wrap-2x * {font-size: 16rem;}
</style>
<div class="wrap-2x">
	<div>
		aaa
		<div>
			bbb
			<div>
				ccc
			</div>
		</div>
	</div>
</div>


<h2> 20px </h2>
<style>
	.wrap-3x * {font-size: 20rem;}
</style>
<div class="wrap-3x">
	<div>
		aaa
		<div>
			bbb
			<div>
				ccc
			</div>
		</div>
	</div>
</div>
