<section class="b_cont">
	<h1>color</h1>
	<div class="b_box">
		가나다
	</div>
	<div class="b_box b_box_silver">
		가나다
	</div>
	<div class="b_box b_box_gray">
		가나다
	</div>
	
	<h1>rad radius</h1>
	<div class="b_box b_box_gray b_box_rad_s">
		가나다
	</div>
	<div class="b_box b_box_gray b_box_rad">
		가나다
	</div>
	<div class="b_box b_box_gray b_box_rad_l">
		가나다
	</div>
	<div class="b_box b_box_gray b_box_rad">
		<p>가나다<br>가나다<br>가나다<br></p>
	</div>
	<div class="b_box b_box b_box_rad">
		<p>가나다<br>가나다<br>가나다<br></p>
	</div>
	
	<h1>bd border</h1>
	<div class="b_box b_box_bd">
		가나다
	</div>
	<div class="b_box b_box_bd b_box_silver">
		가나다
	</div>
	<div class="b_box b_box_bd b_box_gray">
		가나다
	</div>
</section>