html {overflow-y: scroll;}

body {
	font-family: malgun gothic, arial;
	color: #333; font-size: 100%; line-height: 1.6;
	margin: 0;
	word-break: keep-all; word-wrap: break-word;
}

.btn_init {background: white; border: solid 1px #ccc;
	font-size: 16px; line-height: 1.6em;
	display: inline-block; vertical-align: middle; padding: 0 0.5em;
	cursor: pointer; text-align: center; box-sizing: border-box;
}

button.radius, a.radius { border-radius: 0.3em;}
button.round, a.round { border-radius: 100px;}
button.pad, a.pad { padding: 0 1em;}
button.pad2, a.pad2 { padding: 0 2em;}
button.pad3, a.pad3 { padding: 0 3em;}
button.min_width, a.min_width { min-width: 5em;}
button.min_width2, a.min_width2 { min-width: 10em;}
button.min_width3, a.min_width3 { min-width: 15em;}

button
, input[type="submit"]
, input[type="reset"]
{ font-family: inherit; font-size: inherit; cursor: pointer;} /*font inherit*/

h1 {font-size: 2em; margin: 0.5em 0;}
h2 {font-size: 1.4em; margin: 2em 0 0.5em;}
h3 {font-size: 1.2em; margin: 2em 0 0.5em;}
h4 {font-size: 1.2em; margin: 2em 0 0.5em;}
h5 {font-size: 1.1em; margin: 2em 0 0.5em;}
h6 {font-size: 1.0em; margin: 2em 0 0.5em;}

p {margin: 2em 0; line-height: 2;}

ul {margin: 2em 0; padding: 0 0 0 1.5em;}
	li {margin: 1em 0;}

main { display: block;} /*patch IE*/

@media (max-width: 800px) {
	h1 {font-size: 1.5em;}
	h2 {font-size: 1.4em;}
	h3 {font-size: 1.3em;}
	h4 {font-size: 1.2em;}
	h5 {font-size: 1.1em;}
	h6 {font-size: 1.0em;}
}

.code {
	white-space: pre; line-height: 1.5; tab-size: 3;
	font-family:"Ubuntu Mono", Consolas, "Source Code Pro";
	background: #eee; display: block; /*border: solid 1px #ddd;*/ overflow-x: auto; box-sizing: border-box;
	margin: 1em 0;
}

.ime_active { -webkit-ime-mode: active; -moz-ime-mode: active; ime-mode: active;}
.ime_inactive { -webkit-ime-mode: inactive; -moz-ime-mode: inactive; ime-mode: inactive;}
.ime_disabled { -webkit-ime-mode: disabled; -moz-ime-mode: disabled; ime-mode: disabled;}

.vspace {margin-top: 1em; margin-bottom: 1em;}
.vspace2 {margin-top: 2em; margin-bottom: 2em;}

.align_center {text-align: center;}

