<div class="b-tbl-wrap">
	<table class="b-tbl">
		<thead>
		<tr>
			<th>가나다</th>
			<th>가나다</th>
			<th>가나다</th>
			<th>가나다</th>
			<th style="width: 50px;">가나다</th>
		</tr>
		</thead>
		<tr>
			<td>aasdf asdfa sf</td>
			<td>a</td>
			<td>a</td>
			<td>a</td>
			<td>a</td>
		</tr>
	</table>
</div>

<div class="b-tbl-wrap">
	<table class="b-tbl">
		<thead>
		<tr>
			<th>가나다</th>
			<th>가나다</th>
			<th>가나다</th>
			<th>가나다</th>
			<th style="width: 50px;">가나다</th>
		</tr>
		</thead>
		<tr>
			<td>aasdf asdfa sf</td>
			<td>a</td>
			<td>a</td>
			<td>a</td>
			<td>a</td>
		</tr>
		<tr>
			<td>aasdf asdfa sf</td>
			<td>a</td>
			<td>a</td>
			<td>a</td>
			<td>a</td>
		</tr>
	</table>
</div>

<div class="b-tbl-wrap">
	<table class="b-tbl">
		<tr>
			<th>가나다</th>
			<td>aasdf asdfa sf</td>
			<td>a</td>
			<td>a</td>
			<td>a</td>
			<td>a</td>
		</tr>
	</table>
</div>

<div class="b-tbl-wrap">
	<table class="b-tbl">
		<tr>
			<th>가나다</th>
			<td>aasdf asdfa sf</td>
			<td>a</td>
			<td>a</td>
			<td>a</td>
			<td>a</td>
		</tr>
		<tr>
			<th>가나다</th>
			<td>aasdf asdfa sf</td>
			<td>a</td>
			<td>a</td>
			<td>a</td>
			<td>a</td>
		</tr>
	</table>
</div>

<div class="b-box">
	<ul>
		<li>
			table 에 border-radius를 주기 위해선 wrap을 하나 씌어야 한당.
		</li>
	</ul>
</div>