<div class="b_tbl_wrap">
	<table class="b_tbl">
		<thead>
		<tr>
			<th>가나다</th>
			<th>가나다</th>
			<th>가나다</th>
			<th>가나다</th>
			<th style="width: 50px;">가나다</th>
		</tr>
		</thead>
		<tr>
			<td>aasdf asdfa sf</td>
			<td>a</td>
			<td>a</td>
			<td>a</td>
			<td>a</td>
		</tr>
	</table>
</div>

<div class="b_tbl_wrap">
	<table class="b_tbl">
		<thead>
		<tr>
			<th>가나다</th>
			<th>가나다</th>
			<th>가나다</th>
			<th>가나다</th>
			<th style="width: 50px;">가나다</th>
		</tr>
		</thead>
		<tr>
			<td>aasdf asdfa sf</td>
			<td>a</td>
			<td>a</td>
			<td>a</td>
			<td>a</td>
		</tr>
		<tr>
			<td>aasdf asdfa sf</td>
			<td>a</td>
			<td>a</td>
			<td>a</td>
			<td>a</td>
		</tr>
	</table>
</div>

<div class="b_tbl_wrap">
	<table class="b_tbl">
		<tr>
			<th>가나다</th>
			<td>aasdf asdfa sf</td>
			<td>a</td>
			<td>a</td>
			<td>a</td>
			<td>a</td>
		</tr>
	</table>
</div>

<div class="b_tbl_wrap">
	<table class="b_tbl">
		<tr>
			<th>가나다</th>
			<td>aasdf asdfa sf</td>
			<td>a</td>
			<td>a</td>
			<td>a</td>
			<td>a</td>
		</tr>
		<tr>
			<th>가나다</th>
			<td>aasdf asdfa sf</td>
			<td>a</td>
			<td>a</td>
			<td>a</td>
			<td>a</td>
		</tr>
	</table>
</div>

<div class="b-box">
	<ul>
		<li>테이블 형식 구분을 위해 thead는 반드시 넣어 주자</li>
		<li>width는 필요한 곳만 주고 나머지는 안주면 auto</li>		
		<li>동적 td 변환이 있을 수 있으므로 with와 align은 td에 준다.</li>
		<li>
			table 에 border-radius를 주기 위해선 wrap을 하나 씌어야 한당.
		</li>
	</ul>
</div>