<style>
	.cont {height: 1500px; border: solid 1px gray;}
</style>

<div class="b_cont">
	<div class="b_fl b_fl_col">
		<a href="#">홈</a>
		<a href="#가">가</a>
		<a href="#가 나">가 나</a>
		<a href="#가 나 다">가 나 다 </a>
	</div>

	<script>
		var offset = 0;
	</script>
	<div class="b_fl b_fl_col">
		<a onclick="$b.link.goId('#');">홈</a>
		<a onclick="$b.link.goId('#가', offset);">가</a>
		<a onclick="$b.link.goId('#가 나', offset);">가 나</a>
		<a onclick="$b.link.goId('#가 나 다', offset);">가 나 다 </a>
	</div>
</div>

<div class="cont" id="가">가</div>
<div class="cont" id="가 나">가 나</div>
<div class="cont" id="가 나 다">가 나 다 </div>