<div class="b_btn_w b_mg_c_h_1em">
	<button onclick="$b.pop.open('#pop_1', {
	'width': 'auto'
	, 'left': 200, 'top': 300
	, 'position': 100
	});" type="button">#pop_1</button>
	
	<button onclick="$b.pop.open('#pop_2', {
	'width': 'auto'
	, 'left': 700, 'top': 300
	, 'position': 100
	});" type="button">#pop_2</button>

	<button onclick="$b.pop.open('#pop_3');" type="button">#pop_center</button>
</div>

<section class="b_pop" id="pop_1">
	<div class="b_pop_page b_draggable">
		<img src="/-/img/ex/img_h.jpg" alt="" class="b_w_full">
		<div class="ta_c b_btn_w b_btn_w_s b_mg_c_h_4px">
			<button onclick="$b.pop.notToday(this);" type="button">오늘하루 열지않기</button>
			<button onclick="$b.pop.close(this);" type="button">닫기</button>
		</div>
	</div>
</section>

<section class="b_pop" id="pop_2">
	<div class="b_pop_page b_draggable">
		<img src="/-/img/ex/img_h.jpg" alt="" class="b_w_full">
		<div class="ta_c b_btn_w b_btn_w_s b_btn_w_s b_mg_c_h_4px">
			<button onclick="$b.pop.notToday(this);" type="button">오늘하루 열지않기</button>
			<button onclick="$b.pop.close(this);" type="button">닫기</button>
		</div>
	</div>
</section>

<section class="b_pop" id="pop_3">
	<div class="b_pop_page b_draggable">
		<img src="/-/img/ex/img_h.jpg" alt="" class="b_w_full">
		<div class="ta_c b_btn_w b_btn_w_s b_btn_w_s b_mg_c_h_4px">
			<button onclick="$b.pop.notToday(this);" type="button">오늘하루 열지않기</button>
			<button onclick="$b.pop.close(this);" type="button">닫기</button>
		</div>
	</div>
</section>