<div class="b_cont">
	<div class="b_box">
		가나다22
	</div>
	<div class="b_box b_box_silver">
		가나다22
	</div>
	<div class="b_box b_box_shadow">
		가나다22
	</div>
	<div class="b_box b_box_shadow b_box_silver">
		가나다22
	</div>
	
	<div class="b_bg_silver b_mv_c_5px">
		<div class="b_box b_box_white">
			가나다 b_box
		</div>

		<div class="b_box b_box_white">
			가나다 b_box
		</div>

		<div class="b_box b_box_white">
			가나다 b_box
		</div>
	</div>

	<div class="b_mv_c_10px">
		<div class="b_box b_box_silver">
			가나다 b_box
		</div>

		<div class="b_box b_box_silver">
			가나다 b_box
		</div>

		<div class="b_box b_box_silver">
			가나다 b_box
		</div>
	</div>
</div>