<style>
	.b-img-wrap { width: 100px; height: 100px;}
</style>

<main id="main">
	<article>
		<h1>.b-img-div</h1>
		<section>
			<h2 class="tit">.b-img-wrap > .b-img-blur-wrap .b-img-blur-wrap--5px > .b-img-div</h2>
			<div>
				<div class="b-img-wrap">
					<div class="b-blur-wrap b-blur-wrap--5px">
						<div class="b-img-div" style="background-image:url(/-/img/ex/img_h.jpg);"></div>
					</div>
				</div>
				<div class="b-img-wrap">
					<div class="b-blur-wrap b-blur-wrap--10px">
						<div class="b-img-div" style="background-image:url(/-/img/ex/img_h.jpg);"></div>
					</div>
				</div>
			</div>
			<div class="b-box b-box--silver">
				<ul>
					<li>cover는 div로 (IE object fit now working.)</li>
					<li>
						wrap의 사이즈가 padding으로 되어 있을 수도 있으므로 상관없이 하는 absolute로 만들어 준다.
					</li>
				</ul>
			</div>
		</section>
	</article>
	
	<hr class="b-hr">
	
	<article>
		<h1 class="tit">.b-img</h1>
		<section>
			<h2 class="tit">.b-img-wrap > .b-img-blur-wrap .b-img-blur-wrap--5px > .b-img</h2>
			<div>
				<div class="b-img-wrap">
					<div class="b-blur-wrap b-blur-wrap--5px">
						<img src="/-/img/ex/img_h.jpg" alt="" class="b-img">
					</div>
				</div>
				<div class="b-img-wrap">
					<div class="b-blur-wrap b-blur-wrap--10px">
						<img src="/-/img/ex/img_h.jpg" alt="" class="b-img">
					</div>
				</div>
			</div>
		</section>
	</article>
</main>