<article class="b-art">
	<h1>b-brd</h1>
	<section>
		<?php for ($i = 0; $i < 3; $i++) { ?>
			<section class="b-brd b-padv-10px">
				가나다
			</section>
		<?php } ?>
	</section>
</article>

<article class="b-art">
	<h1>b-brd--on-first</h1>
	<section>
		<?php for ($i = 0; $i < 3; $i++) { ?>
			<section class="b-brd b-brd--on-first b-padv-10px">
				가나다
			</section>
		<?php } ?>
	</section>
</article>

<article class="b-art">
	<h1>b-brd--off-last</h1>
	<section>
		<?php for ($i = 0; $i < 3; $i++) { ?>
			<section class="b-brd b-brd--off-last b-padv-10px">
				가나다
			</section>
		<?php } ?>
	</section>
</article>