<section class="b_cont_w_s">
	<form action="">
		<section>
			<h2>아이디 찾기</h2>
			<div class="b_flex b_flex_column b_fd">
				<div>
					<input type="text" placeholder="등록하신 아이디를 입력해주세요">
				</div>
				<div>
					<input type="text" placeholder="휴대폰으로 전송된 본인인증번호를 입력">
				</div>
				<div class="b_bt ta_c">
					<button class="b_bt_p4" type="button">확인</button>
				</div>
			</div>
		</section>
	</form>
	<form action="">
		<section>
			<h2>비밀번호 찾기</h2>
			<div class="b_flex b_flex_column b_fd">
				<div>
					<input type="text" placeholder="등록하신 전화번호를 입력해주세요">
				</div>
				<div>
					<input type="text" placeholder="휴대폰으로 전송된 본인인증번호를 입력">
				</div>
				<div class="b_bt ta_c">
					<button class="b_bt_p4" type="button">확인</button>
				</div>
			</div>
		</section>
	</form>
</section>