<section class="b_ls b_ls_block b_ls_off_shape ta_c b_bt b_fd b_fd_100p">
	<form action="" class="b_cont b_cont_w_s">
		<ul>
			<li>
				<input type="text" placeholder="이메일을 입력해주세요">
			</li>
			<li>
				<input type="text" placeholder="사용하실 닉네임을 입력해주세요">
			</li>
			<li>
				<input type="text" placeholder="비밀번호를 입력해주세요">
			</li>
			<li>
				<input type="text" placeholder="비밀번호를 한번 더 입력해주세요">
			</li>
			
		</ul>
		<div class="b_bt_l">
			<button type="button" style="width: 10em;">본인인증받기</button>
		</div>
		<ul>
			<li class="b_flex">
				<div>개인정보보호방침(필수)</div>
				<div><label><input type="radio"></label>동의 <label><input type="radio">미동의</label></div>
			</li>
			<li class="b_flex">
				<div>이용약관 동의(필수)</div>
				<div><label><input type="radio"></label>동의 <label><input type="radio">미동의</label></div>
			</li>
			<li class="b_flex">
				<div>이벤트-홍보수신(선택)</div>
				<div><label><input type="radio"></label>동의 <label><input type="radio">미동의</label></div>
			</li>
		</ul>
		<div style="margin-top: -10px;">
			전체동의하기 <label><input type="radio"></label>동의 <label><input type="radio">미동의</label>
		</div>
		<div class="b_bt_l2">
			<button type="button" class="b_bt_p3">가입하기</button>
		</div>
	</form>
</section>