<section class="b_cont b_ls b_ls_block b_ls_off_shape b_fd b_bt ta_c b_cont_w_s">
	<div>
		<ul>
			<li>
				<input type="text" placeholder="아이디" class="w_100p">
			</li>
			<li>
				<input type="text" placeholder="패스워드" class="w_100p">
			</li>
		</ul>
		<div>
			<button type="button">로그인</button>
			<a href="join.php">회원가입</a>
		</div>
	</div>
	<ul class="">
		<li>
			<a class="b_bt_black w_100p" href="mobile-auth-i.php">아이디찾기</a>
		</li>
		<li>
			<a class="b_bt_black w_100p" href="mobile-auth-i.php">비밀번호찾기</a>
		</li>
		<!--<li>
			<a class="b_bt_black w_100p" href="id-find.php">아아디 / 비밀번호찾기</a>
		</li>-->
	</ul>
</section>