<section class="b_cont b_fd_w b_bt_w ta_c b_cont_w_s">
	<section class="b_flex b_flex_column">
		<div class="b_flex b_flex_column">
			<div>
				<input type="text" placeholder="아이디">
			</div>
			<div>
				<input type="text" placeholder="패스워드">
			</div>
		</div>
		<div>
			<button type="button">로그인</button>
			<a href="join.php">회원가입</a>
		</div>
	</section>
	<section class="b_flex b_flex_column">
		<div>
			<a class="b_bt_black w_100p" href="mobile-auth-i.php">아이디찾기</a>
		</div>
		<div>
			<a class="b_bt_black w_100p" href="mobile-auth-i.php">비밀번호찾기</a>
		</div>
		<!--<div>
			<a class="b_bt_black" href="id-find.php">아아디 / 비밀번호찾기</a>
		</div>-->
	</section>
</section>