<form action="">
	<section class="b_fd b_cont">
		<div class="b_bt">
			<button type="button">프로필사진등록</button>
		</div>
		<div>
			<div class="b_flex">
				<div>성별</div>
				<div>
					남
					여
				</div>
			</div>
			<div class="b_flex">
				<div>지역</div>
				<div>
					서울
					경기
					협의가능
				</div>
			</div>
			<div class="b_flex">
				<div>연령대</div>
				<div>
					20대
					30대
					40대
					50대
				</div>
			</div>
			<div class="b_flex">
				<div>이상형</div>
				<div>
					<input type="text">
				</div>
			</div>
			<div class="b_flex">
				<div>흡연</div>
				<div>
					흡연
					비흡연
					상관없음
				</div>
			</div>
		</div>
	</section>
</form>

<style>
	.b_flex > *:nth-child(1) {flex-basis: 60px;}
	.b_flex > *:nth-child(2) {flex-grow: 1;}
</style>