<section class="b_ls">
	<section>
		<ul>
			<li>가</li>
			<li>나</li>
			<li>다</li>
		</ul>
	</section>

	<section class="b_ls_bordered">
		<ul>
			<li>가</li>
			<li>나</li>
			<li>다</li>
		</ul>
	</section>

	<section class="b_ls_bordered b_ls_inside">
		<ul>
			<li>가</li>
			<li>나</li>
			<li>다</li>
		</ul>
	</section>

	<section class="b_ls_bordered b_ls_off_style">
		<ul>
			<li>가</li>
			<li>나</li>
			<li>다</li>
		</ul>
	</section>

	<section class="b_ls_bordered b_ls_inside b_ls_off_style">
		<ul>
			<li>가</li>
			<li>나</li>
			<li>다</li>
		</ul>
	</section>
</section>