<div class="b_cont">
	<script class="on">
		var v = $b.is.arr([]);
		$b.result(v);
	</script>
	<script class="on">
		var v = $b.is.arr(new Array());
		$b.result(v);
	</script>
	<script class="on">
		var v = $b.is.arr({});
		$b.result(v);
	</script>
	<script class="on">
		var v = $b.is.arr(null);
		$b.result(v);
	</script>
	<script class="on">
		var v = $b.is.arr(undefined);
		$b.result(v);
	</script>
	<script class="on">
		var v = $b.is.arr('k');
		$b.result(v);
	</script>
	<script class="on">
		var v = $b.is.arr(0);
		$b.result(v);
	</script>
</div>