<div class="b_cont">
	<script class="on">
		var v = {} instanceof Function; 
		$b.result(v);
	</script>

	<script class="on">
		$b.result(
			[] instanceof Array
		);
	</script>
	<script class="on">
		$b.result(
			{} instanceof Array
		);
	</script>

	<h2>is Object</h2>
	<script class="on">
		$b.result(
			{} instanceof Object
		);
	</script>
	<script class="on">
		$b.result(
			Function instanceof Object
		);
	</script>
	<script class="on">
		$b.result(
			Object instanceof Function
		);
	</script>
	<script class="on">
		$b.result(
			Object instanceof Array
		);
	</script>
	<script class="on">
		$b.result(
			Function == Object
		);
	</script>

	<h2>is Function</h2>
	<script class="on">
		$b.result(
			function () {
			} instanceof Function
		);
	</script>
	<script class="on">
		var a = new Array();
		$b.result(
			a instanceof Function
		);
	</script>
	<script class="on">
		var a = new Array();
		$b.result(
			a instanceof Object
		);
	</script>
	<script class="on">
		var a = new Array();
		$b.result(
			a instanceof Array
		);
	</script>
</div>