<div class="b_cont">
	<h2>typeof</h2>
	<script class="on">
		$b.result(
			typeof function a() {
			}
		);
	</script>
	<script class="on">
		$b.result(
			typeof new Array()
		);
	</script>
	<script class="on">
		$b.result(
			typeof []
		);
	</script>
	<script class="on">
		$b.result(
			typeof asdf
		);
	</script>
	<script class="on">
		$b.result(
			typeof undefiend
		);
	</script>
	<script class="on">
		$b.result(
			typeof null
		);
	</script>
	<script class="on">
		$b.result(
			typeof new Object()
		);
	</script>
	<script class="on">
		$b.result(
			typeof {}
		);
	</script>
	<script class="on">
		$b.result(
			typeof 'aaa'
		);
	</script>
	<script class="on">
		$b.result(
			typeof new String('aaa')
		);
	</script>

	<h2>is Array</h2>
	<script class="on">
		$b.result(
			Function == Object
		);
	</script>
</div>